@import 'reset.css';

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --black: #212529;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: var(--font-family-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--black);
  text-align: left;
  background-color: #ffffff;
}

/* TODO: cleanup from from bootstrap */
a {
  text-decoration: none;
  background-color: transparent;
}

button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
  cursor: pointer;
}
button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}
.table thead tr th {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.table > thead > tr > th {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: white;
}

.table > thead > tr > th:nth-child(2) {
  position: sticky;
  left: 0;
  z-index: 11;
}
.table > tbody > tr > th:nth-child(2) {
  position: -webkit-sticky;
  position: sticky;
  z-index: 9;
  left: 0;
  background-color: white;
}
.table > tfoot > tr > th:nth-child(2) {
  position: -webkit-sticky;
  position: sticky;
  z-index: 9;
  left: 0;
  background-color: white;
}
.table > tbody > tr:hover > th:nth-child(2) {
  background-color: #f2f2f2;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table th, .table td {
  padding: 0.45rem 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

/* TODO: cleanup */

header {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: var(--gray-dark);
  color: var(--light);
  min-width: 100%;
  display: flex;
  justify-content: space-between;
}

header h1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  display: inline-block;
  font-size: 1.5rem;
}

header h1::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='red' d='M383.8 351.7c2.5-2.5 105.2-92.4 105.2-92.4l-17.5-7.5c-10-4.9-7.4-11.5-5-17.4 2.4-7.6 20.1-67.3 20.1-67.3s-47.7 10-57.7 12.5c-7.5 2.4-10-2.5-12.5-7.5s-15-32.4-15-32.4-52.6 59.9-55.1 62.3c-10 7.5-20.1 0-17.6-10 0-10 27.6-129.6 27.6-129.6s-30.1 17.4-40.1 22.4c-7.5 5-12.6 5-17.6-5C293.5 72.3 255.9 0 255.9 0s-37.5 72.3-42.5 79.8c-5 10-10 10-17.6 5-10-5-40.1-22.4-40.1-22.4S183.3 182 183.3 192c2.5 10-7.5 17.5-17.6 10-2.5-2.5-55.1-62.3-55.1-62.3S98.1 167 95.6 172s-5 9.9-12.5 7.5C73 177 25.4 167 25.4 167s17.6 59.7 20.1 67.3c2.4 6 5 12.5-5 17.4L23 259.3s102.6 89.9 105.2 92.4c5.1 5 10 7.5 5.1 22.5-5.1 15-10.1 35.1-10.1 35.1s95.2-20.1 105.3-22.6c8.7-.9 18.3 2.5 18.3 12.5S241 512 241 512h30s-5.8-102.7-5.8-112.8 9.5-13.4 18.4-12.5c10 2.5 105.2 22.6 105.2 22.6s-5-20.1-10-35.1 0-17.5 5-22.5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  background-position-y: 0.25em;
  min-width: 1.5em;
  min-height: 1.75em;
  display: inline-block;
  margin-bottom: -.4em;
  margin-left: -0.5em;
  margin-right: 0.25em;
  content: "";
}

header .links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links img {
  min-height: 1.5rem;
  max-height: 1.5rem;
  min-width: 1.5rem;
  max-width: 1.5rem;
  margin-left: 0.5rem;
  display: inline-block;
  opacity: 0.6;
}

a  {
  color: inherit;
  text-decoration: inherit;
}

svg.sprite {
  display: none;
}

.summary {
  font-weight: lighter;
  font-size: 1.3rem;
}
.number {
  font-size: 1.2em;
  font-weight: bold;
}
.summary p + p {
  padding-top: 0.75em;
}
.fineprint {
  font-size: 0.75rem;
}

#vaccinations, #infections {
  overflow: scroll;
  margin-top: 1rem;
}

#reported {
  color: var(--green);
}
#canada-mapleleaf {
  color: var(--red);
}
#in-progress {
  color: var(--cyan);
}
#no-report-expected-today {
  color: var(--gray);
}
#waiting-for-report {
  color: var(--orange);
}
.province-update-status {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin-left: 0.125rem;
  margin-right: -1rem;
  margin-top: -0.125rem;
  margin-bottom: -0.125rem;
  overflow: visible;
}

svg.icon {
  height: 1em;
  display: inline-block;
  vertical-align: -0.125em;
}
main {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.table {
  margin-bottom: 2rem;
}

.table > tbody > tr:hover {
  color: #212529;
  background-color: #f2f2f2;
}

.table > * > tr > td, .table > * > tr > td {
  /*width: 100%;*/
  /*min-width: 8rem;*/
  max-width: 11rem;
}
.table > thead > tr:first-child > th {
  text-align: left;
  font-weight: bold;
}
.table > * > tr > th:nth-child(2) {
  /*width: 100%;*/
  min-width: 11rem;
  max-width: 15rem;
  font-weight: normal;
  font-style: italic;
}

.table > * > tr > th.toggle {
  padding-right: 0;
}
.table > * > tr > th.name {
  padding-left: 0.125rem;
}

.vaccine > tbody > tr > td, .vaccine > tfoot > tr > td {
  white-space: nowrap;
  font-weight: normal;
  /*font-style: italic;*/
}
.infection > tbody > tr > td, .infection > tfoot > tr > td {
  white-space: nowrap;
  font-weight: normal;
  /*font-style: italic;*/
}

.vaccine > tfoot > tr > *, .infection > tfoot > tr > * {
  font-weight: bold !important;
  font-style: italic !important;
  white-space: nowrap !important;
}

td[data-rate]::after {
  color: var(--blue);
  content: " (▲" attr(data-rate) "%)"
}

td[data-rate ^= "-"]::after {
  color: var(--red);
  content: " (▼" attr(data-rate) "%)"
}
td[data-rate = "0"]::after, td[data-rate = ""]::after {
  content: "/day";
  color: var(--dark);
  font-weight: lighter;
}
td[data-rate = "0"]:not(:empty)::before, td[data-rate = ""]:not(:empty)::before {
  content: "~"
}
td[data-rate]:empty::after {
  content: "N/A"
}

.progressbar > .value {
  background-color: var(--blue);
}

.per100k .progressbar > .value, .per1000k .progressbar > .value {
  background-color: var(--gray-dark);
}
.per100k .progressbar.green > .value, .per1000k .progressbar.green > .value {
  background-color: var(--green);
}
.per100k .progressbar.yellow > .value, .per1000k .progressbar.yellow > .value {
  background-color: var(--yellow);
}
.per100k .progressbar.orange > .value, .per1000k .progressbar.orange > .value {
  background-color: var(--orange);
}
.per100k .progressbar.red > .value, .per1000k .progressbar.red > .value {
  background-color: var(--red);
}

.progressbar.infection > .value {
  background-color: var(--orange);
}
.progressbar.death > .value {
  background-color: var(--red);
}

.per100k .progressbar:not([data-value="N/A"]):not([data-value="0"])::after, .per1000k .progressbar:not([data-value="N/A"]):not([data-value="0"])::after {
  content: attr(data-value);
}

.per100k .progressbar:not([aria-valuenow="N/A"])::before {
  content: attr(aria-valuenow) "/₁₀₀ₖ";
}

.per1000k .progressbar:not([aria-valuenow="N/A"])::before {
  content: attr(aria-valuenow) "/₁₀₀₀ₖ";
}

.dose.total, .dose.one, .dose.full, .activecases.per100k, .hospitalized.per1000k, td.positivity, td.infection, td.death, td.infected {
  text-align: center;
}

.dose.one, .dose.total {
  border-right: hidden;
}
.dose.one::after {
  content: "＋";
  float: right;
  margin-top: -1.6rem;
  margin-right: -1.2rem;
  font-weight: bold;
}
.dose.total::after {
  content: "＝";
  float: right;
  margin-top: -0.1rem;
  margin-right: -1.2rem;
  font-weight: bold;
}

/*.infected.percapita::after {*/
/*  content: "{";*/
/*  float: right;*/
/*  margin-right: -1rem;*/
/*  margin-top: -0.75rem;*/
/*  margin-bottom: -1rem;*/
/*  font-weight: 100;*/
/*  font-size: 2rem;*/
/*  font-style: normal;*/
/*}*/

table.infected td.infected, table.infected th.infected {
  background-color: #f2f2f2 !important;
}

.name > .label-toggle {
  /*margin-left: -1rem;*/
  /*color: var(--black);*/
  font-style: italic;
}

.name > .label-toggle > span {
  border-bottom:1px dashed #000;
}

tr.healthregion {
  display: none
}

tr.healthregion.visible {
  display: table-row
}
tr.vaccine:first-child {
  word-wrap: break-word;
}
tr.province td button:focus {
  outline: 0;
}

tr.healthregion > th:first-child > span {
  white-space: break-spaces !important;
}

.table thead tr:first-child th:empty {
  border-bottom: 0;
}

.table > thead > tr > th {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 28px;
  text-align: center;
}

.table > thead > tr:last-child > th:not(:first-child)::after {
  color: #D0E0EA;
  content: '|';
  float: left;
  margin-left: -1rem;
  vertical-align: middle;
}

.table > thead > tr:last-child > th + th:empty::after {
  content: '';
}

.history > div {
  height: 2.3rem;
  width: 7rem;
}

.history table.column:not(.stacked) td {
  margin-inline-start: 1px;
}
.history table.column.stacked tr {
  margin-inline-start: 1px;
}

.history .tooltip {
  bottom: 2rem !important;
  z-index: 30 !important;
}

.dose.history table.column {
  --color-1: rgba(0, 123, 255, 0.2);
  --color-2: var(--gray);
}

.dose.history table.column tr:nth-child(n+8):not(:last-child) {
  --color-1: rgba(0, 123, 255, 0.6);
  --color-2: var(--gray);
}

.dose.history table tr:last-child {
  --color-1: var(--blue);
  --color-2: var(--gray-dark);
}

.supply.history table.column td{
  --color-1: rgba(108, 117, 125, 0.2);
}

.supply.history table.column td:nth-child(n+8):not(:last-child) {
  --color-1: rgba(108, 117, 125, 0.6);
}

.supply.history table td:last-child {
  --color-1: var(--gray);
}

*:hover > .history *[data-trendline]::before {
  position: absolute;
  content: attr(data-trendline);
  font-size: 0.7rem;
  color: var(--gray-dark);
  bottom: calc(100%*var(--size));
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  z-index: 1;
}

*:hover > .history *[data-trendline]::after {
  position: absolute;
  content: " ";
  border-bottom: var(--red);
  font-size: 0.7rem;
  width: 100%;
  min-height: 3px;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  bottom: calc(100%*var(--size));
}

.cases.history table.column td:not(:nth-child(n+8)) {
  --color-1: rgba(220, 53, 69, 0.2);
}
.cases.history table.column td:nth-child(n+8):not(:last-child) {
  --color-1: rgba(220, 53, 69, 0.6);
}
.cases.history table.column td:last-child {
  --color-1: var(--red);
}

.activecases.history table.column td {
  --color-1: rgba(253, 126, 20, 0.2);
}

.activecases.history table.column td:nth-child(n+8):not(:last-child) {
  --color-1: rgba(253, 126, 20, 0.6);
}

.activecases.history table.column td:last-child {
  --color-1: var(--orange);
}

td[data-rate].activecases::after {
  color: var(--red);
}
td[data-rate ^= "-"].activecases::after {
  color: var(--blue);
}

.supply.zero:not(:empty)::before {
  content: " (~";
}

.supply.zero:not(:empty)::after{
  content: " days)";
  white-space: nowrap;
}
/*.supply.complete:not(:empty)::after{*/
/*  content: " weeks";*/
/*  white-space: nowrap;*/
/*}*/

.supply.good {
  color: var(--green);
}

.supply.ok {
  color: var(--orange);
}

.supply.bad {
  color: var(--red);
}

.supply.available:empty::after {
  content: "N/A";
  font-weight: lighter;
}

.supply.available:empty + .supply.zero:empty, .dose.total:empty{
  border-left: hidden;
}

.dose.total:empty + .dose.one::after {
  content: "";
}
.dose.today:empty::after {
  content: "N/A";
  font-weight: lighter;
}

.dose.total:empty::after {
  content: "";
}

.dose.total:empty + .dose.one * {
  display: none;
}

.dose.total:empty + .dose.one + .dose.full {
  border-right: hidden;
}

.dose.total:empty + .dose.one + .dose.full *  {
  display: none;
}

.balloon {
  position: absolute;
  z-index: 25;
  bottom: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 10px;
  border-radius: 6px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  background-color: #555;
  color: #fff;
  text-align: center;
  font-size: .9rem;
}
.balloon:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5px solid transparent;
  border-top-color: #555;
}
*:hover > .balloon {
  visibility: visible;
  opacity: 1;
}

tr:not(:hover) .progressbar > .change {
  color: var(--gray);
  font-weight: lighter;
}

.per100k .progressbar > .change.percent:before {
  content: attr(data-value) "/₁₀₀ₖ";
}
.per100k .progressbar > .change.percent:not([data-value ^= "-"]):before {
  content: "+" attr(data-value) "/₁₀₀ₖ";
}

.per1000k .progressbar > .change.percent:before {
  content: attr(data-value) "/₁₀₀₀ₖ";
}
.per1000k .progressbar > .change.percent:not([data-value ^= "-"]):before {
  content: "+" attr(data-value) "/₁₀₀₀ₖ";
}

.dose .progressbar > .change.percent:before {
  content: attr(data-value) "%";
}
.dose .progressbar > .change.percent:not([data-value ^= "-"]):before {
  content: "+" attr(data-value) "%";
}

.positivity .progressbar > .change.percent:before {
  content: attr(data-value) "%";
}
.positivity .progressbar > .change.percent:not([data-value ^= "-"]):before {
  content: "+" attr(data-value) "%";
}

@media screen and (min-width: 800px) {
  .name.short {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .name.long {
    display: none;
  }
  .table>*>tr>th:nth-child(2) {
    min-width: 3.5rem;
    max-width: 7rem;
    /*white-space: nowrap;*/
  }
}
