@import 'reset.css';

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --black: #212529;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: var(--font-family-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--black);
  text-align: left;
  background-color: #ffffff;
}

summary {list-style: none}
summary::-webkit-details-marker {display: none; }

/* TODO: cleanup from from bootstrap */
a {
  text-decoration: none;
  background-color: transparent;
}

button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
  cursor: pointer;
}
button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

label:focus {
  outline: 0;
}

label {
  cursor: pointer;
}

/* TODO: cleanup */

header {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: var(--gray-dark);
  color: var(--light);
  min-width: 100%;
  display: flex;
  justify-content: space-between;
}

header h1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  display: inline-block;
  font-size: 1.2rem;
}

header h1::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='red' d='M383.8 351.7c2.5-2.5 105.2-92.4 105.2-92.4l-17.5-7.5c-10-4.9-7.4-11.5-5-17.4 2.4-7.6 20.1-67.3 20.1-67.3s-47.7 10-57.7 12.5c-7.5 2.4-10-2.5-12.5-7.5s-15-32.4-15-32.4-52.6 59.9-55.1 62.3c-10 7.5-20.1 0-17.6-10 0-10 27.6-129.6 27.6-129.6s-30.1 17.4-40.1 22.4c-7.5 5-12.6 5-17.6-5C293.5 72.3 255.9 0 255.9 0s-37.5 72.3-42.5 79.8c-5 10-10 10-17.6 5-10-5-40.1-22.4-40.1-22.4S183.3 182 183.3 192c2.5 10-7.5 17.5-17.6 10-2.5-2.5-55.1-62.3-55.1-62.3S98.1 167 95.6 172s-5 9.9-12.5 7.5C73 177 25.4 167 25.4 167s17.6 59.7 20.1 67.3c2.4 6 5 12.5-5 17.4L23 259.3s102.6 89.9 105.2 92.4c5.1 5 10 7.5 5.1 22.5-5.1 15-10.1 35.1-10.1 35.1s95.2-20.1 105.3-22.6c8.7-.9 18.3 2.5 18.3 12.5S241 512 241 512h30s-5.8-102.7-5.8-112.8 9.5-13.4 18.4-12.5c10 2.5 105.2 22.6 105.2 22.6s-5-20.1-10-35.1 0-17.5 5-22.5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  background-position-y: 0.25em;
  min-width: 1.5em;
  min-height: 1.75em;
  display: inline-block;
  margin-bottom: -.4em;
  margin-left: -0.5em;
  margin-right: 0.25em;
  content: "";
}

header .links {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .bling{
  line-height: 1.5;
  margin-top: 0.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: var(--gray-dark);
  color: var(--light);
  min-width: 100%;
  display: flex;
  justify-content: space-between;
}


.links img {
  min-height: 1.5rem;
  max-height: 1.5rem;
  min-width: 1.5rem;
  max-width: 1.5rem;
  margin-left: 0.5rem;
  display: inline-block;
  opacity: 0.6;
}

a  {
  color: inherit;
  text-decoration: inherit;
}

svg.sprite {
  display: none;
}

main {
  padding-top: 1rem;
}
section h2 {
  font-size: 1.2rem;
  border-bottom: 2px solid var(--blue);
}

section#main {
  display: flex;
}

.summary {
  /*font-weight: lighter;*/
  font-size: 1.2rem;
  min-width: 60%;
  width:100%;
  margin-bottom: 1.5rem;
}
a {
  border-bottom: var(--pink) dashed 2px;
}
header a, h2 a {
  border-bottom: 0;
}
.summary .number {
  font-size: 1.2em;
  font-weight: bold;
}
.summary p + p {
  padding-top: 0.75em;
}

.summary .date {
  font-style: italic;
}
.flex {
  padding: 0;
  margin: 0;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.flex.column {
  flex-direction: column;
  flex-wrap: nowrap;
}

.grid {
  display: grid;
}

.grid .onexone {
  grid-area: 1/1;
}
.grid .alignend {
  align-self: end;
}

ul.flex {
  list-style: none;
}
.stats h3 {
  font-size: 1.2rem;
  color: var(--blue)
}
.stats > * {
  min-width: 20rem;
  min-height: 10rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.stats > .hospitalized > table {
  padding-bottom: 1.5rem;
  --color-1: lightgray;
}
.stats > .hospitalized > .icu {
  height: 50%;
  --color-1: var(--pink);
}

@media screen and (min-width: 820px) {
  section#main {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  section#main > .stats {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
  }
}
/*@media screen and (max-width: 900px) {*/
/*  section#main {*/
/*    -webkit-flex-wrap: wrap-reverse;*/
/*    flex-wrap: wrap-reverse;*/
/*  }*/
/*  section#main > .stats {*/
/*    -webkit-flex-wrap: nowrap;*/
/*    flex-wrap: nowrap;*/
/*    justify-content: space-evenly;*/
/*  }*/
/*  section#main > .stats > * {*/
/*    justify-content: center;*/
/*  }*/
/*}*/

@media screen and (max-width: 820px) {
  section#main {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  section#main > .stats {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.fineprint {
  padding-left: 1.5rem;
  /*font-weight: lighter;*/
  font-size: 0.7rem;
}

#vaccinations, #infections {
  margin-top: 1rem;
}

@media screen and (max-width: 1400px) {
  #vaccinations, #infections {
    width: max-content;
  }
}

#reported {
  color: var(--green);
}
#canada-mapleleaf {
  color: var(--red);
}
#in-progress {
  color: var(--cyan);
}
#no-report-expected-today {
  color: var(--gray);
}
#waiting-for-report {
  color: var(--orange);
}
.province-update-status {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin-left: 0.125rem;
  margin-right: -1rem;
  margin-top: -0.125rem;
  margin-bottom: -0.125rem;
  overflow: visible;
}

svg.icon {
  height: 1em;
  display: inline-block;
  vertical-align: -0.125em;
}
main {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.table {
  margin-bottom: 2rem;
}

.flex.tr.thead {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: white;
}

.flex.tr.thead > .name {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 11;
}
.flex.tr > .name {
  position: -webkit-sticky;
  position: sticky;
  z-index: 9;
  left: 0;
  background-color: white;
}
.flex.tr:not(.thead):hover {
  color: #212529;
  background-color: #f2f2f2;
}

.flex.tr:not(.thead):hover > .name {
  color: #212529;
  background-color: #f2f2f2;
}

/*.tr > .th > label.sort:after {*/
/*  !*content: '▲ △';*!*/
/*  content: '△ ▽';*/
/*  width: 0;*/
/*  display: grid;*/
/*  white-space: break-spaces;*/
/*  text-align: left;*/
/*  line-height: 0.5rem;*/
/*  min-height: 1.5rem;*/
/*  font-weight: 100;*/
/*  margin-left:0.25rem;*/
/*  font-size: 0.75rem;*/
/*  color: var(--gray);*/
/*}*/
.tr > .th > label.sort {
  display: block;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
  background-repeat: no-repeat;
  background-position: left .25rem bottom .5rem;
  background-size: .65em 2em;
}

.flex.tr > .th.name > label.sort {
  justify-content: left;
  padding-left: .75rem;
}
#sort-vacc-name:checked ~ .tr.thead label[for=sort-vacc-name],
#sort-complete:checked ~ .tr.thead label[for=sort-complete],
#sort-time-to-arm:checked ~ .tr.thead label[for=sort-time-to-arm] {
  background-image: url('img/long-arrow-up.svg');
}
#sort-vacc-trend:checked ~ .tr.thead label[for=sort-vacc-trend],
#sort-vacc-pop:checked ~ .tr.thead label[for=sort-vacc-pop],
#sort-vacc-today:checked ~ .tr.thead label[for=sort-vacc-today],
#sort-vacc-total:checked ~ .tr.thead label[for=sort-vacc-total],
#sort-half:checked ~ .tr.thead label[for=sort-half],
#sort-full:checked ~ .tr.thead label[for=sort-full],
#sort-freezer-trend:checked ~ .tr.thead label[for=sort-freezer-trend],
#sort-freezer-today:checked ~ .tr.thead label[for=sort-freezer-today],
#sort-freezer-population:checked ~ .tr.thead label[for=sort-freezer-population] {
  background-image: url('img/long-arrow-down.svg');
}

#sort-infect-name:checked ~ .tr.thead label[for=sort-infect-name] {
  background-image: url('img/long-arrow-up.svg');
}

#sort-infect-trend:checked ~ .tr.thead label[for=sort-infect-trend],
#sort-infect-pop:checked ~ .tr.thead label[for=sort-infect-pop],
#sort-infect-today:checked ~ .tr.thead label[for=sort-infect-today],
#sort-active-trend:checked ~ .tr.thead label[for=sort-active-trend],
#sort-active:checked ~ .tr.thead label[for=sort-active],
#sort-hospital:checked ~ .tr.thead label[for=sort-hospital],
#sort-death:checked ~ .tr.thead label[for=sort-death],
#sort-test:checked ~ .tr.thead label[for=sort-test],
#sort-infect:checked ~ .tr.thead label[for=sort-infect],
#sort-death-rate:checked ~ .tr.thead label[for=sort-death-rate] {
  background-image: url('img/long-arrow-down.svg');
}

details > summary > .tr > .toggle {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M400 64c8.8 0 16 7.2 16 16v352c0 8.8-7.2 16-16 16H48c-8.8 0-16-7.2-16-16V80c0-8.8 7.2-16 16-16h352m0-32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-60 206h-98v-98c0-6.6-5.4-12-12-12h-12c-6.6 0-12 5.4-12 12v98h-98c-6.6 0-12 5.4-12 12v12c0 6.6 5.4 12 12 12h98v98c0 6.6 5.4 12 12 12h12c6.6 0 12-5.4 12-12v-98h98c6.6 0 12-5.4 12-12v-12c0-6.6-5.4-12-12-12z'/%3E%3C/svg%3E");
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 1.25rem 1.25rem;
}
details[open] > summary > .tr > .toggle {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='currentColor' d='M400 64c8.8 0 16 7.2 16 16v352c0 8.8-7.2 16-16 16H48c-8.8 0-16-7.2-16-16V80c0-8.8 7.2-16 16-16h352m0-32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-60 242c6.6 0 12-5.4 12-12v-12c0-6.6-5.4-12-12-12H108c-6.6 0-12 5.4-12 12v12c0 6.6 5.4 12 12 12h232z'/%3E%3C/svg%3E%0A");
}

.flex.tr.country * {
  font-weight: bold;
}
.data-rate[data-rate]::after {
  color: var(--blue);
  content: " (▲" attr(data-rate) "%)"
}

.data-rate[data-rate ^= "-"]::after {
  color: var(--red);
  content: " (▼" attr(data-rate) "%)"
}
.data-rate[data-rate = "0"]::after, .data-rate[data-rate = ""]::after {
  content: "/day";
  color: var(--dark);
  font-weight: lighter;
}
.data-rate[data-rate = "0"]:not(:empty)::before, .data-rate[data-rate = ""]:not(:empty)::before {
  content: "~"
}
.data-rate[data-rate]:empty::after {
  content: "N/A"
}
.data-rate.golf[data-rate]::after {
  color: var(--red);
}
.data-rate.golf[data-rate ^= "-"]::after {
  color: var(--blue);
}

.progressbar > .value {
  background-color: var(--blue);
}

.progressbar.darkgray > .value {
  background-color: var(--gray-dark);
}
.progressbar.green > .value {
  background-color: var(--green);
}
.progressbar.yellow > .value {
  background-color: var(--yellow);
}
.progressbar.orange > .value {
  background-color: var(--orange);
}
.progressbar.red > .value {
  background-color: var(--red);
}

.progressbar.per1k:not([data-value="N/A"]):not([data-value="0"])::after,
.progressbar.per10k:not([data-value="N/A"]):not([data-value="0"])::after,
.progressbar.per100k:not([data-value="N/A"]):not([data-value="0"])::after,
.progressbar.per1000k:not([data-value="N/A"]):not([data-value="0"])::after {
  content: attr(data-value);
}

 .progressbar.per1k:not([aria-valuenow="N/A"])::before {
  content: attr(aria-valuenow) "/₁ₖ";
}

.progressbar.per10k:not([aria-valuenow="N/A"])::before {
  content: attr(aria-valuenow) "/₁₀ₖ";
}

 .progressbar.per100k:not([aria-valuenow="N/A"])::before {
  content: attr(aria-valuenow) "/₁₀₀ₖ";
}

.progressbar.per1000k:not([aria-valuenow="N/A"])::before {
  content: attr(aria-valuenow) "/₁₀₀₀ₖ";
}

.progressbar.days:not([aria-valuenow="N/A"])::before {
  content: attr(aria-valuenow) " days";
  font-weight: normal;
}

.dose.total, .dose.one, .dose.full, .activecases.per100k, .hospitalized.per1000k, td.positivity, td.infection, td.death, td.infected {
  text-align: center;
}
.center {
  text-align: center;
}

.dose.one, .dose.total {
  border-right: hidden;
}
.dose.one::after {
  content: "＋";
  float: right;
  margin-top: -1.6rem;
  margin-right: -1.2rem;
  font-weight: bold;
}
.dose.total::after {
  content: "＝";
  float: right;
  margin-top: -0.1rem;
  margin-right: -1.2rem;
  font-weight: bold;
}

table.infected td.infected, table.infected th.infected {
  background-color: #f2f2f2 !important;
}

.name > .label-toggle {
  font-style: italic;
}

.name > .label-toggle > span {
  border-bottom:1px dashed #000;
}

.vaccine:first-child {
  word-wrap: break-word;
}

.flex.tr {
  display: flex; display: -webkit-flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row; -webkit-flex-direction: row;
  flex-wrap: nowrap;-webkit-flex-wrap: nowrap;
}
.flex.tr.thead {
  align-items: flex-end;
}

.flex.tr > .th, .flex.tr > .td {
  padding: .45rem .75rem;
  vertical-align: top;
  text-align: center;
  white-space: nowrap;
}
.flex.tr > .th {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
}

.flex.tr > .th:not(.toggle)::after{
  content: '';
  position: relative;
  height: 1rem;
  bottom: 0.5rem;
  display: block;
  margin: -0.75rem;
  border-right: solid 2px #d0e0ea;
  z-index: -1;
}

.flex.tr.thead {
  border-bottom: 2px solid #dee2e6;
  border-top: 0;
}

.flex.tr {
  flex-grow: 0; -webkit-flex-grow: 0;
  flex-shrink: 0; -webkit-flex-shrink: 0;
  border-top: 1px solid #dee2e6;
}

.flex.tr > div {
  flex: 1 0 8.5rem;
  white-space: nowrap;
}

.flex.tr > .toggle {
  padding-left: 0;
  padding-right: 0;
  flex: 0 0 1.5rem;
  min-height: 1.5rem;
  display: inline-block;
  margin-top: 0.75rem;
}

.flex.tr > .name {
  flex: 1.5 0 11rem;
  padding-left: 0.125rem;
  white-space: normal;
  text-align: left !important;
}
.flex.tr > .complete {
  flex: 1 0 8rem;
}
.flex.tr > .total {
  flex: 1 0 6rem;
}
.flex.tr > .today {
  flex: 1 0 7rem;
}
.flex.tr > .history {
  flex: 1 0 9rem;
  align-content: center;
}

.history > div {
  height: 2.3rem;
  width: 7rem;
  margin-left: auto;
  margin-right: auto;
}

table.charts-css.column:not(.stacked) td:not(:first-child) {
  margin-inline-start: 1px;
}
.history table.column.stacked tr {
  margin-inline-start: 1px;
}

.history .tooltip {
  bottom: 2rem !important;
  z-index: 30 !important;
}

.dose.history table.column {
  --color-1: rgba(0, 123, 255, 0.2);
}

.dose.history table.column tr td:nth-child(n+8):not(:last-child) {
  --color-1: rgba(0, 123, 255, 0.6);
}

.today:not(.delayed) .dose.history table tr td:last-child {
  --color-1: var(--blue);
}
.dose.history table tr td:last-child {
  --color-1: repeating-linear-gradient(
    135deg,
    var(--blue),
    var(--blue) 3px,
    var(--light) 3px,
    var(--light) 5px
  );
  --color-2: repeating-linear-gradient(
    135deg,
    var(--gray-dark),
    var(--gray-dark) 3px,
    var(--light) 3px,
    var(--light) 5px
  );
}

.supply.history table.column td{
  --color-1: rgba(108, 117, 125, 0.2);
}

.supply.history table.column td:nth-child(n+8):not(:last-child) {
  --color-1: rgba(108, 117, 125, 0.6);
}

.today:not(.delayed) .supply.history table td:last-child {
  --color-1: var(--gray);
}
.supply.history table td:last-child {
  --color-1: repeating-linear-gradient(
    135deg,
    var(--gray),
    var(--gray) 3px,
    var(--light) 3px,
    var(--light) 5px
  );
}

*:hover > .history *[data-trendline]::before {
  position: absolute;
  content: attr(data-trendline);
  font-size: 0.7rem;
  color: var(--gray-dark);
  bottom: calc(100%*var(--size));
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  z-index: 1;
}

*:hover > .history *[data-trendline]::after {
  position: absolute;
  content: " ";
  border-bottom: var(--red);
  font-size: 0.7rem;
  width: 100%;
  min-height: 3px;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  bottom: calc(100%*var(--size));
}

.cases.history table.column td:not(:nth-child(n+8)) {
  --color-1: rgba(220, 53, 69, 0.2);
}
.cases.history table.column td:nth-child(n+8):not(:last-child) {
  --color-1: rgba(220, 53, 69, 0.6);
}
.today:not(.delayed) .cases.history table.column td:last-child {
  --color-1: var(--red);
}

.cases.history table.column td:last-child {
  --color-1: repeating-linear-gradient(
    135deg,
    var(--red),
    var(--red) 3px,
    var(--light) 3px,
    var(--light) 5px
  );
}

.activecases.history table.column td {
  --color-1: rgba(253, 126, 20, 0.2);
}

.activecases.history table.column td:nth-child(n+8):not(:last-child) {
  --color-1: rgba(253, 126, 20, 0.6);
}

.today:not(.delayed) .activecases.history table.column td:last-child {
  --color-1: var(--orange);
}

.activecases.history table.column td:last-child {
  --color-1: repeating-linear-gradient(
    135deg,
    var(--orange),
    var(--orange) 3px,
    var(--light) 3px,
    var(--light) 5px
  );
}

.tr:not(.today) .current {
  background: repeating-linear-gradient(
    135deg,
    white,
    white 10px,
    var(--light) 10px,
    var(--light) 20px
  );
}

.supply.zero:not(:empty)::before {
  content: " (~";
}

.supply.zero:not(:empty)::after{
  content: " days)";
  white-space: nowrap;
}

.supply.good {
  color: var(--green);
}

.supply.ok {
  color: var(--orange);
}

.supply.bad {
  color: var(--red);
}

.supply.available:empty::after {
  content: "N/A";
  font-weight: lighter;
}

.supply.available:empty + .supply.zero:empty, .dose.total:empty{
  border-left: hidden;
}

.dose.total:empty + .dose.one::after {
  content: "";
}
.dose.current:empty::after {
  content: "N/A";
  font-weight: lighter;
}

.dose.total:empty::after {
  content: "";
}

.dose.total:empty + .dose.one * {
  display: none;
}

.dose.total:empty + .dose.one + .dose.full {
  border-right: hidden;
}

.dose.total:empty + .dose.one + .dose.full *  {
  display: none;
}

.balloon {
  position: absolute;
  z-index: 25;
  bottom: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 10px;
  border-radius: 6px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  background-color: #555;
  color: #fff;
  text-align: center;
  font-size: .9rem;
}
.balloon:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5px solid transparent;
  border-top-color: #555;
}
*:hover > .balloon {
  visibility: visible;
  opacity: 1;
}

.tr:not(:hover) .progressbar > .change {
  color: var(--gray);
  font-weight: lighter;
}

.progressbar > .change.percent:before {
  content: attr(data-value) "%";
}
.progressbar > .change.percent:not([data-value ^= "-"]):before {
  content: "+" attr(data-value) "%";
}

.progressbar > .change.days:before {
  content: attr(data-value) " days";
}
.progressbar > .change.days:not([data-value ^= "-"]):before {
  content: "+" attr(data-value) " days";
}

.progressbar > .change.per1k:before {
  content: attr(data-value) "/₁ₖ";
}
.progressbar > .change.per1k:not([data-value ^= "-"]):before {
  content: "+" attr(data-value) "/₁ₖ";
}
.progressbar > .change.per10k:before {
  content: attr(data-value) "/₁₀ₖ";
}
.progressbar > .change.per10k:not([data-value ^= "-"]):before {
  content: "+" attr(data-value) "/₁₀ₖ";
}

.progressbar > .change.per100k:before {
  content: attr(data-value) "/₁₀₀ₖ";
}
.progressbar > .change.per100k:not([data-value ^= "-"]):before {
  content: "+" attr(data-value) "/₁₀₀ₖ";
}

.progressbar > .change.per1000k:before {
  content: attr(data-value) "/₁₀₀₀ₖ";
}
.progressbar > .change.per1000k:not([data-value ^= "-"]):before {
  content: "+" attr(data-value) "/₁₀₀₀ₖ";
}

.small-detail {
  font-size: 0.7rem;
  white-space: nowrap;
  font-style: italic;
}

.tr:not(:hover) .reveal-on-hover {
  visibility: hidden;
}

@media screen and (min-width: 800px) {
  .name.short {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .name.long {
    display: none;
  }
  .flex.tr>.name {
    flex: 1 0 5rem;
    overflow: hidden;
  }
  .flex.tr.healthregion > .name {
    font-size: 0.7rem;
  }
  /*.table>*>tr>th:nth-child(2) {*/
  /*  min-width: 3.5rem;*/
  /*  max-width: 7rem;*/
  /*}*/
  /*.table>*>tr.province>th:nth-child(2) {*/
  /*  white-space: nowrap;*/
  /*}*/
  /*.flex.tr>.th:nth-child(2) {*/
  /*  min-width: 3.5rem;*/
  /*  max-width: 3.5rem;*/
  /*}*/
  .flex.tr.province>th:nth-child(2) {
    white-space: nowrap;
  }
  main {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}
