.progressbar {
  display: grid;
  margin: 0 auto;
  text-align: left;
  height: 1.6rem;
  width: 100%;
  min-width: 7rem;
  max-width: 7rem;
  position: relative;
  color: white;
  border: var(--dark);
  border-width: thin;
  border-style: solid;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  background-color: gray;
  vertical-align: middle;

  --prefix: "";
  --suffix: "";
}

.progressbar.darkgray > .value {
  background-color: var(--gray-dark);
}
.progressbar.green > .value {
  background-color: var(--green);
}
.progressbar.yellow > .value {
  background-color: var(--yellow);
}
.progressbar.orange > .value {
  background-color: var(--orange);
}
.progressbar.red > .value {
  background-color: var(--red);
}

.progressbar::before {
  /*content: attr(aria-valuenow) "%";*/
  position:absolute;
  color: white;
  left:0.2rem;
  font-weight: bold;
  z-index: 2;
}

.progressbar[data-change]::after {
  grid-area: 1/1;
  margin: .24rem .2rem;
  text-align: right;
  color: #fff;
  font-size: .7rem;
  font-weight: initial;
  z-index: 2;
}

.progressbar[aria-valuenow="N/A"]::before {
  content: attr(aria-valuenow);
  font-weight: lighter;
}
.progressbar > .value {
  width: calc(1% * var(--width));
  position: absolute;
  background-color: var(--blue, blue);
  height: 100%;
}

.progressbar > .absolute {
  display: grid;
  grid-area: 1/1;
  color: black;
  font-size: 0.7rem;
  padding: 0;
  margin-top: 1.7rem;
  text-align: left;
  --suffix: ""
}
.progressbar > .absolute::before, .progressbar > .absolute::after {
  grid-area: 1/1;
}

.progressbar > .absolute::after {
  text-align: right;
}

.progressbar > .percent, .progressbar.percent { --suffix: "%" }
.progressbar > .perday, .progressbar.perday { --suffix: "/day" }
.progressbar > .days, .progressbar.days { --suffix: " days" }
.progressbar > .days::before, .progressbar.days::before { font-weight: normal; }
.progressbar > .per1k, .progressbar.per1k { --suffix: "/₁₀₀₀" }
.progressbar > .per10k, .progressbar.per10k { --suffix: "/₁₀ₖ" }
.progressbar > .per100k, .progressbar.per100k { --suffix: "/₁₀₀ₖ" }
.progressbar > .per1000k, .progressbar.per1000k { --suffix: "/₁₀₀₀ₖ" }
/*.progressbar > .change[data-value]:not([data-value=""]):not([data-value="0"]):not([data-value ^= "-"]) { --prefix: "+" }*/
.progressbar > [data-value]:not([data-value=""]):not([data-value="0"]):not([data-value="N/A"]):before,
.progressbar[data-value]:not([data-value=""]):not([data-value="0"]):not([data-value="N/A"]):before {
  content: attr(data-value) var(--suffix);
}
.progressbar > [aria-valuenow]:not([aria-valuenow=""]):not([aria-valuenow="N/A"]):before,
.progressbar[aria-valuenow]:not([aria-valuenow=""]):not([aria-valuenow="N/A"]):before {
  content: attr(aria-valuenow) var(--suffix);
}
.progressbar > [data-change]:not([data-change=""]):not([data-change="0"]):not([data-change="N/A"]):not([data-change ^= "-"]),
.progressbar[data-change]:not([data-change=""]):not([data-change="0"]):not([data-change="N/A"]):not([data-change ^= "-"]) {
  --prefix: "+"
}
.progressbar > [data-change]:not([data-change=""]):not([data-change="0"]):not([data-change="N/A"]):after,
.progressbar[data-change]:not([data-change=""]):not([data-change="0"]):not([data-change="N/A"]):after {
  content: var(--prefix) attr(data-change);
}

.progressbar > div:is([data-value="0"]:not([data-value])) {
  display: none;
}
