input.toggle[type='checkbox'] {
  display: none;
}

.label-toggle:focus {
  outline: 0;
}

.label-toggle {
  cursor: pointer;
}

th.toggle * {
  min-width: 1rem;
  max-width: 1rem;
}
/*.toggle label {*/
/*  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M400 64c8.8 0 16 7.2 16 16v352c0 8.8-7.2 16-16 16H48c-8.8 0-16-7.2-16-16V80c0-8.8 7.2-16 16-16h352m0-32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-60 206h-98v-98c0-6.6-5.4-12-12-12h-12c-6.6 0-12 5.4-12 12v98h-98c-6.6 0-12 5.4-12 12v12c0 6.6 5.4 12 12 12h98v98c0 6.6 5.4 12 12 12h12c6.6 0 12-5.4 12-12v-98h98c6.6 0 12-5.4 12-12v-12c0-6.6-5.4-12-12-12z'/%3E%3C/svg%3E");*/
/*  background-position-x: center;*/
/*  background-repeat: no-repeat;*/
/*  background-size: 1.25rem 1.25rem;*/
/*  min-width: 1.5rem;*/
/*  min-height: 1.5rem;*/
/*  display: block;*/
/*  margin-top: 0.25rem;*/
/*}*/
/*.toggle label.off{*/
/*  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='currentColor' d='M400 64c8.8 0 16 7.2 16 16v352c0 8.8-7.2 16-16 16H48c-8.8 0-16-7.2-16-16V80c0-8.8 7.2-16 16-16h352m0-32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-60 242c6.6 0 12-5.4 12-12v-12c0-6.6-5.4-12-12-12H108c-6.6 0-12 5.4-12 12v12c0 6.6 5.4 12 12 12h232z'/%3E%3C/svg%3E%0A");*/
/*}*/

.toggle svg {
  color: var(--gray);
}
