---
title: "COVID-19 Status"
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<header>
  <h1 class="home">
    <a href="{{ '/' | url }}">{{ title or metadata.title }}</a><a href="#vaccinations"> 💉 </a><a href="#infections"> 🦠 </a>
  </h1>
  <span class="links">
      <a href="https://github.com/colinbendell/covid19.ca/" title="Github Source">
        <img src="img/github.svg" width="64" height="64" alt="">
      </a>
      <a href="/data.json" title="{raw} source data"><img src="img/analytics.svg" width="64" height="64" alt=""></a>
      </span>
</header>
<main{% if templateClass %} class="{{ templateClass }}"{% endif %}>

{% macro cssSort(name='#sort-half', descOrder = true, section="#vaccinations", sortProperty='today.first_vaccination_per_12plus') %}
  {% set css %}
  {% set index = 1 %}
  {%- for province in canada | sort(descOrder, false, sortProperty) %}
    {{ name }}:checked ~ {{ section }} .province.{{ province.iso3166 | lower }} { order: {{ index }}; }
    {% set subindex = 1 %}
    {%- for region in province.regions | sort(true, false, sortProperty) %}
      {{ name }}:checked ~ {{ section }} .healthregion.{{ (region.short or region.name) | lower | replace(r/[^a-zA-Z]+/gi, '-') }} { order: {{ subindex }}; }
      {% set subindex = subindex + 1 %}
    {%- endfor %}
    {% set index = index + 1 %}
  {%- endfor %}
  {% endset %}
  {{ css | cssmin | safe }}
{% endmacro %}
<style>{{ cssSort('#sort-vacc-name-pop', true, 'details', 'population')}}</style>
{#<style>{{ cssSort('#sort-vacc-name', false, 'details', 'name')}}</style>#}
<style>{{ cssSort('#sort-vacc-trend', true, 'details', 'lastWeekExclusive.change_vaccinations_avg') }}</style>
<style>{{ cssSort('#sort-vacc-pop', true, 'details', 'today.sort_change_vaccinations_per_1k')}}</style>
<style>{{ cssSort('#sort-vacc-today', true, 'details', 'today.sort_change_vaccinations')}}</style>
<style>{{ cssSort('#sort-complete', false, 'details', 'today.days_to_complete_first_vaccination')}}</style>
{#<style>{{ cssSort('#sort-vacc-total', true, 'details', 'today.total_vaccinations')}}</style>#}
<style>{{ cssSort('#sort-half', true, 'details', 'today.first_vaccination_per_12plus')}}</style>
<style>{{ cssSort('#sort-full', true, 'details', 'today.vaccinated_per_12plus')}}</style>
<style>{{ cssSort('#sort-full-pop', true, 'details', 'today.vaccinated_per_person')}}</style>
<style>{{ cssSort('#sort-freezer-trend', true, 'details', 'lastWeekExclusive.available_doses_avg')}}</style>
<style>{{ cssSort('#sort-freezer-today', true, 'details', 'today.available_doses')}}</style>
<style>{{ cssSort('#sort-freezer-population', true, 'details', 'today.available_doses_per_12plus')}}</style>
<style>{{ cssSort('#sort-time-to-arm', false, 'details', 'lastWeekInclusive.available_doses_days')}}</style>

<style>{{ cssSort('#sort-infect-name-pop', true, 'details', 'population')}}</style>
{#<style>{{ cssSort('#sort-infect-name', false, 'details', 'name')}}</style>#}
<style>{{ cssSort('#sort-infect-trend', true, 'details', 'lastWeekExclusive.change_cases_avg')}}</style>
<style>{{ cssSort('#sort-infect-pop', true, 'details', 'lastWeekInclusive.change_cases_per_1000k_sum')}}</style>
<style>{{ cssSort('#sort-infect-today', true, 'details', 'today.sort_change_cases')}}</style>
<style>{{ cssSort('#sort-active-trend', true, 'details', 'lastWeekExclusive.active_cases_avg')}}</style>
<style>{{ cssSort('#sort-active', true, 'details', 'today.active_cases_per_100k')}}</style>
<style>{{ cssSort('#sort-hospital', true, 'details', 'today.hospitalizations_per_1000k')}}</style>
<style>{{ cssSort('#sort-death', true, 'details', 'today.fatalities_per_100k')}}</style>
<style>{{ cssSort('#sort-test', true, 'details', 'lastWeekInclusive.positivity_rate')}}</style>
<style>{{ cssSort('#sort-infect', true, 'details', 'today.total_cases_per_person')}}</style>
<style>{{ cssSort('#sort-death-rate', true, 'details', 'today.total_fatalities_per_person')}}</style>
<style>{{ cssSort('#sort-recovery-days', true, 'details', 'lastWeekInclusive.cases_recovery_days')}}</style>

{#{% macro cssFilter(name='#sort-half', descOrder = true, section="#vaccinations", sortProperty='today.first_vaccination_per_12plus') %}#}
{#  {% set css %}#}
{#  {% set index = 1 %}#}
{#  {%- for province in canada | sort(descOrder, false, sortProperty) %}#}
{#    {{ name }}[value="{{ province.name }}"] ~ {{ section }} .province:not(.{{ province.iso3166 | lower }}) { visibility: hidden }#}
{#{% set subindex = 1 %}#}
{#    {%- for region in province.regions | sort(true, false, sortProperty) %}#}
{#      {{ name }}:checked ~ {{ section }} .healthregion.{{ (region.short or region.name) | lower | replace(r/[^a-zA-Z]+/gi, '-') }} { order: {{ subindex }}; }#}
{#{% set subindex = subindex + 1 %}#}
{#    {%- endfor %}#}
{#    {% set index = index + 1 %}#}
{#  {%- endfor %}#}
{#  {% endset %}#}
{#  {{ css | cssmin | safe }}#}
{#{% endmacro %}#}
{#<style>{{ cssFilter('#vaccine-search', true, 'details', 'today.total_fatalities_per_person')}}</style>#}

<svg xmlns="http://www.w3.org/2000/svg" style="display: none" aria-hidden="true">
  <g id="in-progress" viewBox="0 0 512 512">
    <path fill="currentColor" d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z"/>
  </g>
  <g id="no-report-expected-today" viewBox="0 0 512 512">
    <path fill="currentColor" d="M553.5 231.8c8.7 14.9 8.7 33.4 0 48.4l-112 192c-8.6 14.7-24.4 23.8-41.5 23.8H176c-17.1 0-32.9-9.1-41.5-23.8l-112-192c-8.7-14.9-8.7-33.4 0-48.4l112-192C143.1 25.1 158.9 16 176 16h224c17.1 0 32.9 9.1 41.5 23.8l112 192zM420 296c6.6 0 12-5.4 12-12v-56c0-6.6-5.4-12-12-12H156c-6.6 0-12 5.4-12 12v56c0 6.6 5.4 12 12 12h264z"/>
  </g>
  <g id="reported" viewBox="0 0 512 512">
    <path fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"/>
  </g>
  <g id="waiting-for-report" viewBox="0 0 512 512">
    <path fill="currentColor" d="M256,8C119,8,8,119,8,256S119,504,256,504,504,393,504,256,393,8,256,8Zm92.49,313h0l-20,25a16,16,0,0,1-22.49,2.5h0l-67-49.72a40,40,0,0,1-15-31.23V112a16,16,0,0,1,16-16h32a16,16,0,0,1,16,16V256l58,42.5A16,16,0,0,1,348.49,321Z"/>
  </g>
</svg>

<section id="main">
    {%- for country in canada | filterProp("name", "eq", "Canada") %}
      {% set vaccinePopulation = country.population %}
    <div class="summary">
      <p>
        As of <span data-time="{{ country.updated_at }}" class="date">{{ country.updated_at | readableTime }} PT {{ country.updated_at | readableDate | lower}}</span>,
        over <strong><span class="number" title="{{ country.total.total_cases | format }}"><a href="#infections">{{ country.total.total_cases | formatNumber(false, 0) }}</a></span> Canadians have tested positive</strong> for COVID-19.
{#        or <span class="number ratio"><a href="#infections">{{ (((country.today.total_cases / country.population * 100 * 10) | round) / 10 )| format }} %</a></span> of the population.#}
        Sadly, <strong><span class="number" title="{{ country.today.total_fatalities | format }}"><a href="#infections">{{ country.today.total_fatalities | formatNumber(false, 0) }}</a></span> have died</strong>.
      </p>
      <p>
        In the last day, <strong><span class="number" title="{{ (country.today.change_cases or country.yesterday.change_cases) | format }}"><a href="#vaccinations">{{ (country.today.change_cases or country.yesterday.change_cases) | formatNumber(false, 0) }}</a></span> new infections</strong>
        were reported and <strong><span class="number"><a href="#vaccinations">{{ country.today.change_fatalities or country.yesterday.change_fatalities }}</a></span> deaths</strong>.
        This is trending <strong><span class="editorial {{ "negative" if country.today.change_cases_rate > 0 else "positive" }}">{{ "downwards" if country.today.change_cases_rate < 0 else "upwards" }}</span></strong>.
      </p>
      <p>
        Fortunately, <strong><span class="number" title="{{ country.today.total_vaccinations | format }}"><a href="#vaccinations">{{ country.today.total_vaccinations | formatNumber(false, 0) }}</a></span> doses</strong> of the vaccine have been administered.
        For those 12 years and older, <span class="number"><a href="#vaccinations">{{ (country.today.first_vaccination_per_12plus) | round(1) }}%</a></span> have their 1st shot
        and <span class="number"><a href="#vaccinations">{{ (country.today.vaccinated_per_12plus) | round(1) }}%</a></span> are fully vaccinated!
      </p>
      <p>
        Vaccination is <span class="editorial {{ "positive" if country.lastWeekInclusive.change_first_vaccination_per_person_avg > 0 else "negative" }}">{{ "speeding up" if country.lastWeekInclusive.change_first_vaccination_per_person_avg > 0 else "slowing down" }}</span>,
        but there are <strong><span class="number" title="{{ country.today.available_doses | format }}"><a href="#vaccinations">{{ country.today.available_doses | formatNumber(false, 0) }}</a></span> doses in the freezer</strong>.
        It currently takes ~<strong><span class="number"><a href="#vaccinations">{{ (country.lastWeekExclusive.available_doses_sum / country.lastWeekExclusive.change_vaccinations_sum + 0.5) | round | format }}</a></span> days</strong>
        for new deliveries to get into arms.
        At the current rate, all Canadians aged 12+ will have the first dose by <span class="number"><a href="#vaccinations">{{ country.today.complete_first_vaccination_date | readableDate }}</a></span>
        and fully vaccinated by <span class="number"><a href="#vaccinations">{{ country.today.complete_vaccinated_date | readableDate }}</a></span>.
        There is no approved vaccine for children aged 11 or younger.
      </p>
  </div>
  {%- for province in canada | sort(false, false, "sort_name")%}
  <ul id="{{ province.code }}" class="stats flex nowrap hover-parent">
    <li class="grid alignstart">
      {% set vaccinePopulation = province.population %}
      {% set vaccinatedPerPopulation = (province.today.total_vaccinated / vaccinePopulation * 100) | round %}
      {% set firstDoesPerPopulation = (province.today.total_first_vaccination / vaccinePopulation * 100) | round %}
      {% set adultPopulation = ((province.population12plus / vaccinePopulation) * 100) | round %}
      {% set potentialDoesPerPopulation = (province.today.available_doses / vaccinePopulation * 100) | round %}
      {% set potentialFirstDoesPerPopulation = (firstDoesPerPopulation + potentialDoesPerPopulation) | min(adultPopulation)%}
      {% set potentialSecondDoesPerPopulation = (vaccinatedPerPopulation + (potentialDoesPerPopulation - (potentialFirstDoesPerPopulation - firstDoesPerPopulation))) | min(adultPopulation)%}
      <div style="--repeat-y: 5; --repeat-x:20; --repeat-color: rgba(0,0,0,0);" class="grid onexone ratiostats">
        <div style="--repeat-y: 5; --repeat-x:{{ 20 }}; --repeat-color: #E2E3E5;" class="onexone ratiostats child"></div>

        <div style="--repeat-y: 5; --repeat-x:{{ (adultPopulation / 5) | int }}; --repeat-color: #E2E3E5;" class="onexone ratiostats"></div>
        <div style="--repeat-y: {{ adultPopulation % 5 }}; --repeat-x:{{ ((adultPopulation / 5) + 0.5) | round }}; --repeat-color: #E2E3E5;" class="onexone ratiostats"></div>

        <div style="--repeat-y: 5; --repeat-x:{{ (potentialFirstDoesPerPopulation / 5) | int}}; --repeat-color: repeating-linear-gradient(135deg, var(--gray-dark) 0 2px, var(--light) 2px 3px);" class="reveal-on-hover onexone ratiostats"></div>
        <div style="--repeat-y: {{ potentialFirstDoesPerPopulation % 5 }}; --repeat-x:{{ ((potentialFirstDoesPerPopulation / 5) + 0.5) | round}}; --repeat-color: repeating-linear-gradient(135deg, var(--gray-dark) 0 2px, var(--light) 2px 3px);" class="reveal-on-hover onexone ratiostats"></div>

        <div style="--repeat-y: 5; --repeat-x:{{ (firstDoesPerPopulation / 5) | int}}; --repeat-color: repeating-linear-gradient(135deg, var(--blue) 0 2px, var(--light) 2px 3px);" class="onexone ratiostats"></div>
        <div style="--repeat-y: {{ firstDoesPerPopulation % 5 }}; --repeat-x:{{ ((firstDoesPerPopulation / 5) + 0.5) | round}}; --repeat-color: repeating-linear-gradient(135deg, var(--blue) 0 2px, var(--light) 2px 3px);" class="onexone ratiostats"></div>

        {% if potentialSecondDoesPerPopulation > vaccinatedPerPopulation %}
        <div style="--repeat-y: 5; --repeat-x:{{ (potentialSecondDoesPerPopulation / 5) | int}}; --repeat-color: repeating-linear-gradient(135deg, var(--blue) 0 2px, var(--gray-dark) 2px 4px);" class="reveal-on-hover onexone ratiostats"></div>
        <div style="--repeat-y: {{ potentialSecondDoesPerPopulation % 5 }}; --repeat-x:{{ ((potentialSecondDoesPerPopulation / 5) + 0.5) | round}}; --repeat-color: repeating-linear-gradient(135deg, var(--blue) 0 2px, var(--gray-dark) 2px 4px);" class="reveal-on-hover onexone ratiostats"></div>
        {% endif %}

        <div style="--repeat-y: 5; --repeat-x:{{ (vaccinatedPerPopulation / 5) | int }}; --repeat-color: var(--blue);" class="onexone ratiostats"></div>
        <div style="--repeat-y: {{ vaccinatedPerPopulation % 5 }}; --repeat-x:{{ ((vaccinatedPerPopulation / 5) + 0.5) | round}}; --repeat-color: var(--blue);" class="onexone ratiostats"></div>
      </div>
      <div style="width:80%; border-right: 2px dashed var(--green); margin-bottom: -0.3rem; margin-top: -0.3rem; " class="onexone"></div>

      <div style="max-width:20rem;line-height: 1; padding-top: 0.25rem; white-space: nowrap;"><strong style="color: var(--blue);">{{ firstDoesPerPopulation }} in 100</strong> have at least one vaccine dose,
        <br/><strong style="color: var(--blue);">{{ (vaccinatedPerPopulation) }} in 100</strong> are fully vaccinated. From storage
        <br/><strong style="color: #000;">{{ potentialDoesPerPopulation }} in 100</strong> more could receive a dose.
      </div>
      <div style="max-width:20rem;line-height: 1; padding-top: 0.25rem;">
          Herd immunity is estimated at ~<strong style="color: var(--green);">80%</strong>
      </div>
    </li>
    <li>
      <table cellpadding="0" cellspacing="0">
        {% set total = province.vaccineByAge.total %}
        {% for data in province.vaccineByAge.ages %}
        {% set waffleWidth = 15 %}
        {% set vaccinePopulation = province[data.key]/100 * province.population | round %}
        {% set vaccinatedPerPopulation = ((data.full / total.full * province.today.total_vaccinated ) / vaccinePopulation * (province[data.key]/100) * 100) | round %}
        {% set firstDoesPerPopulation = ((data.half / total.half * province.today.total_first_vaccination ) / vaccinePopulation * (province[data.key]/100) * 100) | round %}
        <tr>
          <td>
              {{data.key}}
          </td>
          <td>
            <div style="--repeat-y: {{ (province[data.key] / waffleWidth) | round | max(1) }}; --repeat-x:{{ province[data.key] | min(waffleWidth) | round}}" class="ratiostats {{ "child" if data.key === "0-11"}}">
              <div style="position: absolute; --repeat-y: {{ ( firstDoesPerPopulation / waffleWidth) | int }}; --repeat-x:{{ waffleWidth }}; --repeat-color: repeating-linear-gradient( 135deg, var(--blue), var(--blue) 2px, var(--light) 2px, var(--light) 3px );" class="ratiostats"></div>
              <div style="position: absolute; --repeat-y: {{ ( firstDoesPerPopulation / waffleWidth + 0.5) | round }}; --repeat-x:{{ (firstDoesPerPopulation % waffleWidth) | round}}; --repeat-color: repeating-linear-gradient( 135deg, var(--blue), var(--blue) 2px, var(--light) 2px, var(--light) 3px );" class="ratiostats"></div>
              <div style="position: absolute; --repeat-y: {{ (vaccinatedPerPopulation / waffleWidth) | int }}; --repeat-x:{{ waffleWidth }}; --repeat-color: var(--blue);" class="ratiostats"></div>
              <div style="position: absolute; --repeat-y: {{ ( vaccinatedPerPopulation / waffleWidth + 0.5) | round }}; --repeat-x:{{ (vaccinatedPerPopulation % waffleWidth) | round }}; --repeat-color: var(--blue);" class="ratiostats"></div>
            </div>

          </td>
        </tr>
        {% endfor %}
      </table>
      <div style="max-width:20rem;line-height: 1; padding-top: 0.25rem; white-space: nowrap;"><strong>{{ province.name }}</strong> <em>(age data projected {{ country.vaccineByAge.date.replace('2021-06-', 'June ') }})</em>
        <br>
        <span class="reveal-on-hover">
      {%- for province in canada | sort(false, false, "sort_name")%}
        <a class="small-detail switch-province" href="#{{ province.code }}">{{ province.code }}</a>
      {% endfor %}
        </span>
      </div>
    </li>
  </ul>
  {% endfor %}
    {%- endfor %}
</section>

<input id="dummy" type="checkbox" style="display: none;">

<section id="vaccinations">
{#  <label for="population40plus">40+</label> <label for="population18plus">18+</label> <label for="population12plus">12+</label> <label for="population2plus">2+</label> <label for="population">All</label>#}
{#  <label for="population12plus">12+</label> <label for="population">All</label>#}
  <h2><a href="#vaccinations">Vaccine Status</a></h2>
{#  <input id="population40plus" name="vaccine-pop" type="radio" style="display: none;">#}
{#  <input id="population18plus" name="vaccine-pop" type="radio" style="display: none;">#}
{#  <input id="population12plus" name="vaccine-pop" type="radio" style="display: none;" checked>#}
{#  <input id="population2plus" name="vaccine-pop" type="radio" style="display: none;">#}
{#  <input id="population" name="vaccine-pop" type="radio" style="display: none;">#}
  <input id="sort-vacc-name-pop" name="vaccine-sort" type="radio" style="display: none;">
  <input id="sort-vacc-name" name="vaccine-sort" type="radio" style="display: none;">
  <input id="sort-vacc-trend" name="vaccine-sort" type="radio" style="display: none;">
  <input id="sort-vacc-pop" name="vaccine-sort" type="radio" style="display: none;">
  <input id="sort-vacc-today" name="vaccine-sort" type="radio" style="display: none;" checked>
  <input id="sort-complete" name="vaccine-sort" type="radio" style="display: none;">
{#  <input id="sort-vacc-total" name="vaccine-sort" type="radio"style="display: none;">#}
  <input id="sort-half" name="vaccine-sort" type="radio" style="display: none;">
  <input id="sort-full" name="vaccine-sort" type="radio" style="display: none;">
  <input id="sort-full-pop" name="vaccine-sort" type="radio" style="display: none;">
  <input id="sort-freezer-trend" name="vaccine-sort" type="radio" style="display: none;">
  <input id="sort-freezer-today" name="vaccine-sort" type="radio" style="display: none;">
  <input id="sort-freezer-population" name="vaccine-sort" type="radio" style="display: none;">
  <input id="sort-time-to-arm" name="vaccine-sort" type="radio" style="display: none;">
  <div class="flex tr thead">
    <div class="th toggle"><label class="sort" style="height:2.6rem;" for="sort-vacc-name-pop"></label></div>
    <div class="th name"><label class="sort" style="height:2.6rem;" for="sort-vacc-name"></label></div>
    <div class="th history"><label class="sort" for="sort-vacc-trend">Doses In Arms<br/>Last 8weeks</label></div>
    <div class="th"><label class="sort" for="sort-vacc-pop">Doses In Arms<br/>7day avg/₁₀₀₀</label></div>
    <div class="th"><label class="sort" for="sort-vacc-today">Doses In Arms<br/>Today</label></div>
{#    <div class="th complete"><label class="sort" for="sort-complete">Projected<br/>Completion</label></div>#}
{#    <div class="th total"><label class="sort" for="sort-vacc-total">Total<br/>Doses</label></div>#}
    <div class="th"><label class="sort" for="sort-half">1st Dose /<br/>Eligible (12+)</label></div>
    <div class="th"><label class="sort" for="sort-full">Fully Vacc. /<br/>Eligible (12+)</label></div>
    <div class="th complete"><label class="sort" for="sort-full-pop">Total<br/>Population</label></div>
    <div class="th history"><label class="sort" for="sort-freezer-trend">In Freezers<br/>Last 8weeks</label></div>
    <div class="th today"><label class="sort" for="sort-freezer-today">In Freezers<br/>Today</label></div>
    <div class="th"><label class="sort" for="sort-freezer-population">In Freezers /<br/>Population</label></div>
    <div class="th"><label class="sort" for="sort-time-to-arm">Time to Arm<br/>from Delivery</label></div>
  </div>
  {% macro vaccineRow(data, type='province') %}
    {% if data.today.total_vaccinations > 0 %}
      {% set vaccinePopulation = data.population %}
      <div class="flex tr vaccine {{ type }} {{ (data.iso3166 or data.short or data.name or data.province) | lower | replace(r/[^a-zA-Z]+/gi, '-') }} {{ data.today.date | readableDate | lower }}"
          title="Total: {{ data.today.total_vaccinations | d(0) | format }} ({{ data.today.date | readableDate }}: {{ data.today.change_vaccinations | format}}, {{ data.yesterday.date | readableDate }}: {{ data.yesterday.change_vaccinations | format }}) Population: {{ data.population | format }}">
        <div class="td toggle"></div>
        <div class="td name" title="{{ data.data_status }} @ {{ data.updated_at | readableTime }} PT {{ data.updated_at | readableDate | lower}}">
          {% if type === 'province' or type === 'country' %}
            <label class="label-toggle">
              <span class="name long" data-short="{{ data.iso3166 or data.name.en }}">{{ data.name.en or data.name }}</span>
              <span class="name short">{{ data.iso3166 or data.name.en }}</span>
              <svg viewBox="0 0 512 512" class="province-update-status"><use href="#{{ data.data_status | lower | replace(r/ /gi, '-') }}"></use></svg>
            </label>
          {% else %}
            {#      <span class="name long">{{ data.name.en or data.name }}</span>#}
            <label for="dummy" class="label-toggle">
              <span class="name">{{ data.iso3166 or data.short or data.name.en or data.name }}</span>
            </label>
          {% endif %}
          <div class="small-detail reveal-on-hover">{{ data.population | formatNumber(false, 0) }} </div>
        </div>
        <div class="td dose history">
          <div>
            <table class="charts-css column" style="--size: {{ (data.lastWeekExclusive.change_vaccinations_avg / data.today.change_vaccinations_max) | format }}" data-trendline="{{ data.lastWeekExclusive.change_vaccinations_avg |formatNumber }} /day">
              <tbody>
              <tr>
              {%- for week in data.previousWeeks | head(-8) %}
                <td style="--size:{{ (week.change_vaccinations_avg / data.today.change_vaccinations_max) | max(0.03) | format}};"><span class="tooltip">Week of {{ week.start | readableDate }}<br/>Avg: {{ week.change_vaccinations_avg | formatNumber }}/day<br/>Total: {{ week.change_vaccinations_sum | d(0) | formatNumber }}</span></td>
              {%- endfor %}
              {%- for day in data.previous7Days %}
                <th scope="row">{{ day.date | readableDate }}</th>
                <td style="--size:{{ (day.change_vaccinations / data.today.change_vaccinations_max) | max(0.03) | format }};"><span class="tooltip">{{ day.date | readableDate }}{% if day.change_first_vaccination > day.change_vaccinations %}<br/>1st: {{ day.change_vaccinations | d(0) | formatNumber }}<br/>2nd: {{ day.change_vaccinationed | d(0) | formatNumber }}{% endif %}<br/>Total: {{ day.change_vaccinations | d(0) | formatNumber }}</span></td>
              {%- endfor %}
                <th scope="row">{{ data.today.date | readableDate }}</th>
                <td style="--size:{{ (data.today.change_vaccinations / data.today.change_vaccinations_max) | max(0.03) | format }};"><span class="tooltip">{{ data.today.date | readableDate }}{% if data.today.change_first_vaccination > data.today.change_vaccinations %}<br/>1st: {{ data.today.change_first_vaccination | d(0) | formatNumber }}<br/>2nd: {{ data.today.change_vaccinationed | d(0) | formatNumber }}{% endif %}<br/>Total: {{ data.today.change_vaccinations | d(0) | formatNumber }}</span></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="td dose last7d per1k"
             title="There were {{ (data.today.change_vaccinations | format) if data.today.change_vaccinations else "NO"}} doses {{ data.today.date | readableDate | lower }}. With a 7 day average of {{ data.lastWeekExclusive.change_vaccinations_avg | format }} doses per day."
        >
          {% set week = data.lastWeekExclusive %}
          {% if data.today.change_vaccinations > 0 %}
            {% set week = data.lastWeekInclusive %}
          {% endif %}
          <div class="progressbar per1k green"
               style="--width: {{ (week.change_vaccinations_per_1k_avg/15*100) | min(100) }}"
               aria-valuenow="{{ week.change_vaccinations_per_1k_avg | round(1) }}"
               data-change="{{week.change_change_vaccinations_per_1k_avg | round | format }}"
          >
            <span class="value" aria-hidden="true"></span>
            <div class="absolute perday" data-value="{{ week.change_vaccinations_avg | round | formatNumber }}" data-change="{{ week.change_change_vaccinations_avg | round | formatNumber }}"></div>
          </div>
        </div>
        <div class="td dose current"
            title="{{ data.today.date | readableDate | lower }}, {{ (data.today.change_vaccinations | format) if data.today.change_vaccinations else "NO"}} doses were administered. The 7 day average is {{ data.lastWeekExclusive.change_vaccinations_avg | format }} doses per day."
        >
          <div class="data-rate" data-rate="{{ data.today.change_vaccinations_rate }}">{{ (data.today.change_vaccinations if data.today.change_vaccinations > 0 and data.yesterday.change_vaccinations > 0 else data.lastWeekExclusive.change_vaccinations_avg) | formatNumber }}</div>
          <div class="small-detail reveal-on-hover">Total: {{ data.today.total_vaccinations | d(0) | formatNumber }}</div>
        </div>
{#        <div class="td supply complete {{ "bad" if data.today.days_to_complete_first_vaccination > 10*7 else ( "ok" if data.today.days_to_complete_first_vaccination > 5*7 else "good") }}"#}
{#            title="First dose expected to be completed around {{ data.today.complete_first_vaccination_date | readableDate }} and full vaccination around {{ data.today.complete_vaccinated_date | readableDate }} based on a trailing average of {{ data.lastWeekExclusive.change_first_vaccination_avg | formatNumber }} and {{ data.lastWeekExclusive.change_vaccinated_avg | formatNumber }} doses per day, respectively."#}
{#        >#}
{#          <div>{{ data.today.complete_first_vaccination_date | readableDate(false) if data.today.days_to_complete_first_vaccination > 0 }}</div>#}
{#          <div class="small-detail reveal-on-hover">({{ data.today.complete_vaccinated_date | readableDate(false) if data.today.days_to_complete_first_vaccination > 0 }})</div>#}
{#        </div>#}
        <div class="td dose one"
            title="{{ ((data.today.total_first_vaccination / vaccinePopulation * 100) | round(1)) or "N/A" }}% of {{ vaccinePopulation | formatNumber(false, 0) }} aged 12+ have their first dose.">
{#          {% for key in ["40plus", "18plus", "12plus", "2plus", "person"] %}#}
{#          {% for key in ["12plus", "person"] %}#}
          {% for key in ["12plus"] %}
          {% set percent = data.today["first_vaccination_per_" + key] | round(1) | min(100) %}
          {% set percent_change = data.today["change_first_vaccination_per_" + key] %}
          {% set abs = data.today.total_first_vaccination %}
          {% set abs_change = data.today.change_first_vaccination %}
          <div class="progressbar percent per{{key}}" role="progressbar"
               style="--width: {{ percent | round}}"
               aria-valuenow="{{ percent or "N/A" }}"
               data-change="{{ percent_change | format }}"
            >
            <span class="value" aria-hidden="true"></span>
            <div class="absolute" data-value="{{ abs | formatNumber }}" data-change="{{ abs_change | formatNumber }}"></div>
          </div>
          {% endfor %}
        </div>
        <div class="td dose full"
            title="{{ ((data.today.total_vaccinated / vaccinePopulation * 100) | round(1)) or "N/A" }}% of {{ vaccinePopulation | formatNumber(false, 0) }} aged 12+ are fully vaccinated.">
{#          {% for key in ["40plus", "18plus", "12plus", "2plus", "person"] %}#}
{#          {% for key in ["12plus", "person"] %}#}
          {% for key in ["12plus"] %}
          {% set percent = data.today["vaccinated_per_" + key] | min(100) | round(1)%}
          {% set percent_change = data.today["change_vaccinated_per_" + key] %}
          {% set abs = data.today.total_vaccinated %}
          {% set abs_change = data.today.change_vaccinated %}
          <div class="progressbar percent per{{key}}" role="progressbar"
               style="--width: {{ percent | round}}"
               aria-valuenow="{{ percent or "N/A" }}"
               data-change="{{ percent_change | format }}"
          >
            {% if (percent) %}
            <span class="value" aria-hidden="true"></span>
            <div class="absolute" data-value="{{ abs | formatNumber }}" data-change="{{ abs_change | formatNumber }}"></div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        <div class="td dose population grid" style="padding-left:0; padding-right: 0;line-height: 0.75rem;"
             title="{{ data.today.first_vaccination_per_person | round}}% of the total population have at least one dose and {{ data.today.vaccinated_per_person | round}}% are fully vaccinated. {{ (((data.population - data.population12plus) / data.population) * 100) | round }}% are children under 12."
        >
          <div class="grid" style="margin: 0 auto; grid-area: 1 / 1 / auto / span 3;">
            <div style="--repeat-y: 1; --repeat-x:10; --repeat-color: rgba(0,0,0,0);" class="grid onexone ratiostats narrow">
              <div style="--repeat-y: 1; --repeat-x:{{ 10 }}; --repeat-color: #E2E3E5; " class="onexone ratiostats narrow child"></div>
              <div style="--repeat-y: 1; --repeat-x:{{ ((data.population12plus / data.population) * 10) | round }}; --repeat-color: #E2E3E5;" class="onexone ratiostats narrow"></div>
              <div style="--repeat-y: 1; --repeat-x:{{ (data.today.first_vaccination_per_person / 10) | round }}; --repeat-color: repeating-linear-gradient( 135deg, var(--blue), var(--blue) 2px, var(--light) 2px, var(--light) 3px );" class="onexone ratiostats narrow"></div>
              <div style="--repeat-y: 1; --repeat-x:{{ (data.today.vaccinated_per_person / 10) | round }}; --repeat-color: var(--blue);" class="onexone ratiostats narrow"></div>
            </div>
            <div style="margin-bottom: -0.3rem; margin-top: -0.3rem;width:80%; border-right: 1px solid var(--green); " class="onexone"></div>
          </div>
          <div style="grid-area: 2/1;" class="small-detail">{{ data.today.vaccinated_per_person | round}}%<br>Fully</div>
          <div style="grid-area: 2/2;" class="small-detail">{{ data.today.first_vaccination_per_person | round}}%<br>1+Dose</div>
          <div style="grid-area: 2/3;" class="small-detail">{{ (((data.population - data.population12plus) / data.population) * 100) | round }}%<br>kids</div>
        </div>
        <div class="td supply history">
          {% if data.today.available_doses > 0 %}
            <div>
              <table class="charts-css column" style="--size: {{ (data.lastWeekExclusive.available_doses_avg / data.today.available_doses_max) | format }}" data-trendline="{{ data.lastWeekExclusive.available_doses_avg |formatNumber }}">
                <tbody>
                <tr>
                  {%- for week in data.previousWeeks | head(-8) %}
                    <td style="--size:{{ (week.available_doses_avg / data.today.available_doses_max) | max(0.03) | format}};"><span class="tooltip">Week of {{ week.start | readableDate }}<br/>Avg in freezer: {{ week.available_doses_avg | formatNumber }}/day</span></td>
                  {%- endfor %}
                  {%- for day in data.previous7Days %}
                    <td style="--size:{{ (day.available_doses / data.today.available_doses_max) | max(0.03) | format }};"><span class="tooltip">{{ day.date | readableDate }}<br/>In Freezer: {{ day.available_doses | d(0) | formatNumber }}</span></td>
                  {%- endfor %}
                  <td style="--size:{{ (data.today.available_doses / data.today.available_doses_max) | max(0.03) | format }};"><span class="tooltip">{{ data.today.date | readableDate }}<br/>In Freezer: {{ data.today.available_doses | d(0) | formatNumber }}</span></td>
                </tr>
                </tbody>
              </table>
            </div>
          {% endif %}
        </div>
        <div class="td supply available today center"
          {% if data.today.available_doses > 0 %}
            title="{{ data.today.available_doses | formatNumber }} doses are in freezers, waiting to be administered"
          {% endif %}
        >{{ data.today.available_doses | formatNumber }}</div>
        <div class='td supply population'>
          {% if data.today.available_doses > 0 %}
            {% set change_available_doses_per_capita = (data.today.available_doses / vaccinePopulation * 100) - (data.yesterday.available_doses / vaccinePopulation * 100) %}
            <div class="progressbar percent supply darkgray" role="progressbar"
                 style="--width: {{ ((data.today.available_doses / vaccinePopulation * 100) / 25 * 100)  | min (100) }}"
                 aria-valuenow="{{ ((data.today.available_doses / vaccinePopulation * 100) | round(1)) }}"
                 data-change="{{ change_available_doses_per_capita | round(1) | format }}"
                 title="{{ data.today.available_doses | formatNumber }} doses provides 1 dose for {{ (data.today.available_doses / vaccinePopulation * 100) | round(1) }}% of the population"
            >
              <span class="value" aria-hidden="true"></span>
              <div class="absolute" data-value="{{ data.today.available_doses | formatNumber }}" data-change="{{ data.today.change_available_doses | formatNumber }}"></div>
            </div>
          {% endif %}
        </div>
        <div class='td supply days'>
          {% if data.today.available_doses > 0 %}
            {% set days %}{{ data.lastWeekInclusive.available_doses_days | round }}{% endset %}
            {% set previousDays %}{{ data.lastWeekExclusive.available_doses_days | round }}{% endset %}

            <div class="progressbar supply days {{ "red" if days > 10 else ( "orange" if days > 7 else "green") }}" role="progressbar"
                 title="It takes {{ days }} days for new vaccine deliveries to be administered to waiting arms. The target should be 7 days with regular weekly shipments."
                 style="--width: {{ (days/20*100) | min (100) }}"
                 aria-valuenow="{{ days }}"
                 data-change="{{ (days - previousDays) | round | format }}"
            >
              <span class="value" aria-hidden="true"></span>
            </div>
          {% endif %}
        </div>
      </div>
    {%  endif %}
  {%  endmacro %}

  <details open>
    <summary>
  {%- for province in canada | filterProp("name", "eq", "Canada")  %}
    {{ vaccineRow(province, "country") }}
  {%- endfor %}
    </summary>
    <div class="flex column">
  {%- for province in canada | filterProp("name", "neq", "Canada") | sort(false, false, attribute="name") %}
    {% set regionLength %}{% for region in province.regions %}{% if region.today.total_vaccinations > 0 %}1{% endif %}{% endfor %}{% endset %}
    {% if regionLength > 0 %}
      <details class="province {{ province.iso3166 | lower}}"><summary>{{ vaccineRow(province) }}</summary>
        <div class="flex column">
        {%- for region in province.regions | sort(false, false, attribute="short") %}
          {{ vaccineRow(region, "healthregion") }}
        {%- endfor %}
        </div>
      </details>
    {% else %}
      {{ vaccineRow(province) }}
    {% endif %}
  {%- endfor %}
    </div>
  </details>
</section>

<section id="infections">
  <h2><a href="#infections">Infection Status</a></h2>
  <input id="sort-infect-name-pop" name="infection-sort" type="radio" style="display: none;">
  <input id="sort-infect-name" name="infection-sort" type="radio" style="display: none;">
  <input id="sort-infect-trend" name="infection-sort" type="radio" style="display: none;">
  <input id="sort-infect-pop" name="infection-sort" type="radio" style="display: none;" checked>
  <input id="sort-infect-today" name="infection-sort" type="radio" style="display: none;">
  <input id="sort-active-trend" name="infection-sort" type="radio" style="display: none;">
  <input id="sort-active" name="infection-sort" type="radio" style="display: none;">
  <input id="sort-hospital" name="infection-sort" type="radio" style="display: none;">
  <input id="sort-death" name="infection-sort" type="radio" style="display: none;">
  <input id="sort-test" name="infection-sort" type="radio" style="display: none;">
  <input id="sort-infect" name="infection-sort" type="radio" style="display: none;">
  <input id="sort-recovery-days" name="infection-sort" type="radio" style="display: none;">
{#  <input id="sort-death-rate" name="infection-sort" type="radio" style="display: none;">#}
  <div class="flex tr thead">
    <div class="th toggle"><label class="sort" for="sort-infect-name-pop"><br/><br/></label></div>
    <div class="th name"><label class="sort" for="sort-infect-name"><br/><br/></label></div>
    <div class="th history"><label class="sort" for="sort-infect-trend">New Cases<br/>Last 8weeks</label></div>
    <div class="th"><label class="sort" for="sort-infect-pop">New Cases<br/>7day avg/₁₀₀₀ₖ</label></div>
    <div class="th today"><label class="sort" for="sort-infect-today">New Cases<br/>Today</label></div>
    <div class="th history"><label class="sort" for="sort-active-trend">Active Cases<br/>Last 8 weeks</label></div>
    <div class="th"><label class="sort" for="sort-active">Current<br>Active/₁₀₀ₖ</label></div>
    <div class="th hospitalized"><label class="sort" for="sort-hospital">Current<br>Hospital/₁₀₀₀ₖ</label></div>
    <div class="th positivity"><label class="sort" for="sort-test">Test-Positivity<br/>Rate (7 days)</label></div>
    <div class="th infected"><label class="sort" for="sort-infect">Infected /<br>Population</label></div>
    <div class="th death"><label class="sort" for="sort-death">Total<br>Deaths/₁₀₀ₖ</label></div>
    <div class="th activecases"><label class="sort" for="sort-recovery-days">Days to<br>Recover</label></div>
  </div>
  {% macro selectColour(data) %}{{ "green" if data < 10 else ("yellow" if data < 25 else ("orange" if data < 40 else ("red" if data < 100 else "darkgray"))) }}{% endmacro %}
  {% macro selectBase(data) %}{{ 10 if data < 10 else (25 if data < 25 else (40 if data < 40 else (100 if data < 100 else 150))) }}{% endmacro %}

  {% macro infectionRow(data, type='province') %}
    <div class="flex tr infection {{ type }} {{ (data.iso3166 or data.short or data.name or data.province) | lower | replace(r/[^a-zA-Z]+/gi, '-') }} {{ data.today.date | readableDate | lower }}" title="Total: {{ data.total.total_cases | format }} ({{ data.total.date | readableDate }}: {{ data.total.change_cases | format }}, {{ data.yesterday.date | readableDate }}: {{ data.yesterday.change_cases | format }}) Population: {{ data.population | format }}">
      <div class="td toggle"></div>
      <div class="td name" title="{{ data.data_status }} @ {{ data.updated_at | readableTime }} PT {{ data.updated_at | readableDate | lower}}">
        {% if type === 'province' or type === 'country' %}
        <label class="label-toggle">
          <span class="name long">{{ data.name.en or data.name }}</span>
          <span class="name short">{{ data.iso3166 or data.name.en }}</span>
          <svg viewBox="0 0 512 512" class="province-update-status"><use href="#{{ data.data_status | lower | replace(r/ /gi, '-') }}"></use></svg>
        </label>
        {% else %}
{#        <span class="name long">{{ data.name.en or data.name }}</span>#}
        <label for="dummy" class="label-toggle">
          <span class="name">{{ data.iso3166 or data.short or data.name.en or data.name }}</span>
        </label>
        {% endif %}
        <div class="small-detail reveal-on-hover">{{ data.population | formatNumber(false, 0) }}</div>
      </div>
      <div class="td cases history">
        <div>
          <table class="charts-css column" style="--size: {{ (data.lastWeekExclusive.change_cases_avg / data.today.change_cases_max) | format }}" data-trendline="{{ data.lastWeekExclusive.change_cases_avg |formatNumber }} /day">
            <tbody>
            <tr>
              {%- for week in data.previousWeeks | head(-8) %}
              <td style="--size:{{ (week.change_cases_avg / data.today.change_cases_max) | max(0.03) | format}};"><span class="tooltip">Week of {{ week.start | readableDate }}<br/>Avg: {{ week.change_cases_avg | formatNumber }}/day<br/>Total: {{ week.change_cases_sum | d(0) | formatNumber }}</span></td>
              {%- endfor %}
              {%- for day in data.previous7Days %}
              <td style="--size:{{ (day.change_cases / data.today.change_cases_max) | max(0.03) | format }};"><span class="tooltip">{{ day.date | readableDate }}<br/>Total: {{ day.change_cases | d(0) | formatNumber }}</span></td>
              {%- endfor %}
              <td style="--size:{{ (data.today.change_cases / data.today.change_cases_max) | max(0.03) | format }};"><span class="tooltip">{{ data.today.date | readableDate }}<br/>Total: {{ data.today.change_cases | d(0) | formatNumber }}</span></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="td cases last7d per1000k"
           title="There were {{ (data.today.change_cases | format) if data.today.change_cases else "NO"}} cases {{ data.today.date | readableDate | lower }}. With a 7 day average of {{ data.lastWeekExclusive.change_cases_avg | format }} cases per day. {{ (data.today.change_recoveries or data.lastWeekExclusive.change_recoveries_avg) | round | format }} cases were closed."
      >
        {% set week = data.lastWeekExclusive %}
        {% if data.today.change_cases > 0 %}
          {% set week = data.lastWeekInclusive %}
        {% endif %}
        <div class="progressbar per1000k {{ selectColour(week.change_cases_per_1000k_avg)  }}"
             style="--width: {{ (week.change_cases_per_1000k_avg/selectBase(week.change_cases_per_1000k_avg)*100) | min(100) }}"
             aria-valuenow="{{ week.change_cases_per_1000k_avg | round}}"
             data-change="{{ week.change_change_cases_per_1000k_avg | d(0)| round | format }}"
        >
          <span class="value" aria-hidden="true"></span>
          <div class="absolute perday" data-value="{{ week.change_cases_avg | formatNumber }}" data-change="{{ week.change_change_cases_avg | formatNumber }}"></div>
        </div>
      </div>
      <div class="td cases current today"
          title="There were {{ (data.today.change_cases | format) if data.today.change_cases else "NO"}} cases {{ data.today.date | readableDate | lower }}. With a 7 day average of {{ data.lastWeekExclusive.change_cases_avg | format }} cases per day. {{ (data.today.change_recoveries or data.lastWeekExclusive.change_recoveries_avg) | round | format }} cases were closed."
      >
        <div class="data-rate golf" data-rate="{{ data.today.change_cases_rate }}">{{ (data.today.change_cases if data.today.change_cases > 0 else data.lastWeekExclusive.change_cases_avg) | formatNumber }}</div>
        {% if data.today.change_recoveries or data.lastWeekExclusive.change_recoveries_avg %}
        <div class="small-detail reveal-on-hover">Closed: {{ (data.today.change_recoveries or data.lastWeekExclusive.change_recoveries_avg) | round | formatNumber }}</div>
        {% endif %}
      </div>
      <div class="td activecases history">
        <div>
          <table class="charts-css column" style="--size: {{ (data.lastWeekExclusive.active_cases_avg / data.today.active_cases_max) | format }}" data-trendline="{{ data.lastWeekExclusive.active_cases_avg |formatNumber }} /day">
            <tbody>
            <tr>
              {%- for week in data.previousWeeks | head(-8) %}
              <td style="--size:{{ (week.active_cases_avg / data.today.active_cases_max) | max(0.03) | format}};"><span class="tooltip">Week of {{ week.start | readableDate }}<br/>Active Cases Avg: {{ week.active_cases_avg | formatNumber }}/day<br/>Hospitalization: {{ week.total_hospitalizations_avg | d(0) | formatNumber }}</span></td>
              {%- endfor %}
              {%- for day in data.previous7Days %}
              <td style="--size:{{ (day.active_cases / data.today.active_cases_max) | max(0.03) | format }};"><span class="tooltip">{{ day.date | readableDate }}<br/>Active Cases: {{ day.active_cases | d(0) | formatNumber }}</span></td>
              {%- endfor %}
              <td style="--size:{{ (data.today.active_cases / data.today.active_cases_max) | max(0.03) | format }};"><span class="tooltip">{{ data.today.date | readableDate }}<br/>Active Cases: {{ data.today.active_cases | d(0) | formatNumber }}</span></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="td activecases per100k">
        <div class="progressbar per100k {{ selectColour(data.today.active_cases_per_100k) }}"
             style="--width: {{ (data.today.active_cases_per_100k/selectBase(data.today.active_cases_per_100k)*100) | min(100) }}"
             aria-valuenow="{{ data.today.active_cases_per_100k }}"
             data-change="{{ data.today.change_active_cases_per_100k | d(0) | format }}"
        >
          <span class="value" aria-hidden="true" ></span>
          <div class="absolute" data-value="{{ data.today.active_cases | formatNumber }}" data-change="{{ data.today.change_active_cases | formatNumber }}"></div>
        </div>
      </div>
      <div class="td hospitalized per1000k">
        <div class="progressbar per1000k {{ selectColour(data.today.hospitalizations_per_1000k) }}"
             style="--width: {{ (data.today.hospitalizations_per_1000k/selectBase(data.today.hospitalizations_per_1000k)*100) | min(100) }}"
             aria-valuenow="{{ data.today.hospitalizations_per_1000k if data.today.total_hospitalizations >= 0 else "N/A"}}"
             data-change="{{ data.today.change_hospitalizations_per_1000k |d(0) | format }}"
        >
          {% if data.today.total_hospitalizations %}
          <span class="value" aria-hidden="true"></span>
          <div class="absolute" data-value="{{ data.today.total_hospitalizations | formatNumber }}" data-change="{{ data.today.change_hospitalizations | format }}"></div>
          {% endif %}
        </div>
      </div>
      <div class="td positivity">
        <div class="progressbar percent orange" role="progressbar"
             style="--width: {{ ((data.lastWeekInclusive.positivity_rate or 0)/10*100) | min(100) }}"
             aria-valuenow="{{ data.lastWeekInclusive.positivity_rate if data.lastWeekInclusive.change_tests_sum >= 0 else "N/A" }}"
             data-change="{{ data.lastWeekInclusive.change_positivity_rate | d(0) | format }}"
        >
          {% if data.lastWeekInclusive.change_tests_sum %}
          <span class="value" aria-hidden="true"></span>
          {% endif %}
        </div>
      </div>
      <div class="td infected percapita">
        <div class="progressbar percent orange" role="progressbar"
             style="--width: {{ (data.today.total_cases_per_person/10*100) | d(0) | min(100) }}"
             aria-valuenow="{{ data.today.total_cases_per_person }}"
             data-change="{{ data.today.change_total_cases_per_person | d(0) | format }}"
        >
          <span class="value" aria-hidden="true"></span>
        </div>
      </div>
      <div class="td death per100k">
        <div class="progressbar per100k red" role="progressbar"
             style="--width: {{ data.today.fatalities_per_100k | min(100) }}"
             aria-valuenow="{{ data.today.fatalities_per_100k }}"
             data-change="{{ data.today.change_fatalities_per_100k | d(0) | format }}"
        >
          <span class="value" aria-hidden="true" ></span>
          <div class="absolute" data-value="{{ data.today.total_fatalities | formatNumber}}" data-change="{{ data.today.change_fatalities | format }}"></div>
        </div>
      </div>
      <div class='td activecases days'>
        {% if data.today.available_doses > 0 %}
        {% set days %}{{ data.lastWeekInclusive.cases_recovery_days | round }}{% endset %}
        {% set previousDays %}{{ data.lastWeekExclusive.cases_recovery_days | round }}{% endset %}

        <div class="progressbar supply days {{ "red" if days > 10 else ( "orange" if days > 7 else "green") }}" role="progressbar"
             title="It takes {{ days }} days to recovery after a positive covid test."
             style="--width: {{ (days/20*100) | min (100) }}"
             aria-valuenow="{{ days }}"
             data-change="{{ (days - previousDays) | round | format }}"
        >
          <span class="value" aria-hidden="true"></span>
        </div>
        {% endif %}
      </div>
    </div>
  {%  endmacro %}

  {%- for province in canada | filterProp("name", "eq", "Canada")  %}
  <details open><summary>{{ infectionRow(province, "country") }}</summary>
    {%- endfor %}
    <div class="flex column">
    {%- for province in canada | filterProp("name", "neq", "Canada") | sort(false, false, attribute="name") %}
      {% set regionLength %}{% for region in province.regions %}1{% endfor %}{% endset %}
      {% if regionLength > 0 %}
        <details class="province {{ province.iso3166 | lower}}"><summary>{{ infectionRow(province) }}</summary>
          <div class="flex column">
          {%- for region in province.regions | sort(false, false, attribute="short") %}
            {{ infectionRow(region, "healthregion") }}
          {%- endfor %}
          </div>
        </details>
      {% else %}
        {{ infectionRow(province) }}
      {% endif %}
    {%- endfor %}
    </div>
  </details>
</section>
</main>
<footer>
  <p class="fineprint">This is for informational purposes only. It relies on community efforts like <a href="https://covid19tracker.ca">covid19tracker.ca</a> to aggregate government data sources.</p>
  <div class="bling">
    <span>built by <a href="https://twitter.com/colinbendell">Colin</a></span>
    <span>proudly &lt;noscript&gt;</span>
  </div>
</footer>
