---
title: COVID-19 Vaccination Tracker
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1><svg class="icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M383.8 351.7c2.5-2.5 105.2-92.4 105.2-92.4l-17.5-7.5c-10-4.9-7.4-11.5-5-17.4 2.4-7.6 20.1-67.3 20.1-67.3s-47.7 10-57.7 12.5c-7.5 2.4-10-2.5-12.5-7.5s-15-32.4-15-32.4-52.6 59.9-55.1 62.3c-10 7.5-20.1 0-17.6-10 0-10 27.6-129.6 27.6-129.6s-30.1 17.4-40.1 22.4c-7.5 5-12.6 5-17.6-5C293.5 72.3 255.9 0 255.9 0s-37.5 72.3-42.5 79.8c-5 10-10 10-17.6 5-10-5-40.1-22.4-40.1-22.4S183.3 182 183.3 192c2.5 10-7.5 17.5-17.6 10-2.5-2.5-55.1-62.3-55.1-62.3S98.1 167 95.6 172s-5 9.9-12.5 7.5C73 177 25.4 167 25.4 167s17.6 59.7 20.1 67.3c2.4 6 5 12.5-5 17.4L23 259.3s102.6 89.9 105.2 92.4c5.1 5 10 7.5 5.1 22.5-5.1 15-10.1 35.1-10.1 35.1s95.2-20.1 105.3-22.6c8.7-.9 18.3 2.5 18.3 12.5S241 512 241 512h30s-5.8-102.7-5.8-112.8 9.5-13.4 18.4-12.5c10 2.5 105.2 22.6 105.2 22.6s-5-20.1-10-35.1 0-17.5 5-22.5z"/></svg> COVID-19 Vaccination Tracker</h1>
<style>
  {%- for province in canada %}
  #toggle-vaccine-{{ province.code }}:checked ~ table.vaccine > tbody > tr.healthregion.{{ province.code }} { display: table-row; }
  #toggle-vaccine-{{ province.code }}:checked ~ table.vaccine > tbody > tr.province.{{ province.code }} th:first-child .label-toggle::before { content: "➖";}
  #toggle-infection-{{ province.code }}:checked ~ table.infection > tbody > tr.healthregion.{{ province.code }} { display: table-row; }
  #toggle-infection-{{ province.code }}:checked ~ table.infection > tbody > tr.province.{{ province.code }} th:first-child .label-toggle::before { content: "➖";}
  {%- endfor %}
</style>
{%- for province in canada %}
  <input id="toggle-vaccine-{{ province.code }}" class="toggle" type="checkbox">
  <input id="toggle-infection-{{ province.code }}" class="toggle" type="checkbox">
{%- endfor %}
<table class="vaccine table table-hover" width="100%" cellspacing="0">
  <thead>
  <tr>
    <th></th>
    <th colspan="6">Vaccinations</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <th></th>
    <th>Last 60 days</th>
    <th>Today</th>
    <th>Projected Completion</th>
    <th>Total</th>
    <th>% Population with 1 Dose</th>
    <th>% Pop. Fully Vaccinated</th>
    <th>% Population ever infected</th>
    <th>Vaccines Available</th>
  </tr>
  </thead>
  <tbody id="vaccinationsProvinceTable">
  {% macro vaccineRow(data, type='province') %}
    <tr class="vaccine {{ type }} {{ data.code or data.province }}"  title="Total: {{ data.total.total_vaccinations | d(0) | format }} ({{ data.total.date | readableDate }}: {{ data.total.change_vaccinations | format}}, {{ data.yesterday.date | readableDate }}: {{ data.yesterday.change_vaccinations | format }}) Population: {{ data.population | format }}">
      <th class="name">
      {% if type === 'province' %}
        <label for="toggle-vaccine-{{ data.code }}" class="label-toggle"></label>
        <span title="{{ data.data_status }} @ {{ data.updated_at }}">
{#          <span class="balloon">#}
{#Status: <b>{{ data.data_status }}</b><br>#}
{#Last updated: <b>${updatedAt}</b><br>#}
{#Update expected by: <b>${expectedTime(data.code)}</b>#}
{#          </span>#}
          <span style="border-bottom:1px dashed #000;">{{ data.name.en or data.name }}</span>
          <span class='province-update-status status-{{ data.data_status | lower | replace(r/\s/gi, '-') }}'></span>
        </span>
      {% else %}
        <span>{{ data.name.en or data.name }}</span>
      {% endif %}
      </th>
      <td class="dose history">
        <div>
          <table class="charts-css column"><tbody>
            <tr>
              {%- for week in data.weekly | head(-8) | head(7) %}
                {% set height = (week.vaccinationsAvg / data.vaccine.maxVaccinations * 100) | round %}
                <td style="--size:calc({{ height if height > 0 else 3 }}/100);" ><span class="tooltip">Week of {{ week.start | readableDate }}: {{ week.vaccinationsAvg | formatNumber }}</span></td>
              {%- endfor %}
            </tr>
            <tr>
              {%- for day in data.lastWeek %}
                {% set height = (day.change_vaccinations / data.vaccine.maxVaccinations * 100) | round %}
                <td style="--size:calc({{ height if height > 0 else 3}}/100);"><span class="tooltip">{{ day.date | readableDate }}: {{ day.change_vaccinations | formatNumber }}</span></td>
              {%- endfor %}
              {% set height = (data.total.change_vaccinations / data.vaccine.maxVaccinations * 100) | round %}
              <td style="--size:calc({{ height if height > 0 else 3 }}/100);"><span class="tooltip">{{ data.total.date | readableDate }}: {{ data.total.change_vaccinations | formatNumber }}</span></td>
            </tr>
            </tbody></table>
        </div>
      </td>
      <td class="dose today" data-rate="{{ data.vaccine.changeInVaccinationRate }}">{{ (data.total.change_vaccinations if data.total.change_vaccinations > 0 else data.vaccine.weekVaccinationsAvg) | formatNumber }}</td>
      <td class="supply complete {{ "bad" if data.vaccine.daysToFullVaccinations > 15 else ( "ok" if daysToFullVaccinations > 5 else "good") }}">{{ data.vaccine.daysToFullVaccinations if data.vaccine.daysToFullVaccinations > 0 }}</td>
      <td class="dose total" >{{ data.total.total_vaccinations | d(0) | formatNumber }}</td>
      <td class="dose one"><div class="progressbar" role="progressbar" aria-valuenow="{{ data.vaccine.vaccinationsPerCapita or "N/A" }}" data-value="{{ (data.total.total_vaccinations - data.total.total_vaccinated) | max(0) | formatNumber }}" aria-labelledby="provinceID tableHeaderID"><span class="value" aria-hidden="true" style="width: {{ data.vaccine.vaccinationsPerCapita}}%"></span></div></td>
      <td class="dose full"><div class="progressbar" role="progressbar" aria-valuenow="{{ data.vaccine.vaccinationsCompletePerCapita or "N/A" }}" data-value="{{ data.total.total_vaccinated | formatNumber }}" aria-labelledby="provinceID tableHeaderID"><span class="value" aria-hidden="true" style="width: {{ data.vaccine.vaccinationsCompletePerCapita or 0 }}%"></span></div></td>
      <td><div class="progressbar infection" role="progressbar" aria-valuenow="{{ data.infection.casesPerCapita }}" data-value="{{ data.total.total_cases | formatNumber }}" aria-labelledby="provinceID tableHeaderID"><span class="value" aria-hidden="true" style="width: {{ (data.infection.casesPerCapita/10*100) | min (100) }}%"></span></div></td>
      <td class='supply available'>{{ data.vaccine.itemVaccinesAvailable | formatNumber }}
        <span class="supply zero {{ "bad" if daysToZeroVaccines > 10 else ( "ok" if daysToZeroVaccines > 7 else "good") }}">{{ data.vaccine.daysToZeroVaccines }}</span>
      </td>
    </tr>
  {%  endmacro %}
  {%- for province in canada | filterProp("name", "neq", "Canada") | sort(true, attr="population") %}
  {{ vaccineRow(province) }}
    {%- for region in province.regions %}
      {{ vaccineRow(region, "healthregion") }}
    {%- endfor %}
  {%- endfor %}
  </tbody>
  <tfoot id="vaccinationsProvinceTableFooter">
  {%- for province in canada | filterProp("name", "eq", "Canada")  %}
    {{ vaccineRow(province, "country") }}
  {%- endfor %}
  </tfoot>
</table>

<table class="infection table table-hover" width="100%" cellspacing="0">
  <thead>
  <tr>
    <th></th>
    <th colspan="6">Infections</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <th></th>
    <th>New Cases<br/>(60 days)</th>
    <th>Today</th>
    <th>Active (60 days)</th>
    <th>Active/₁₀₀ₖ</th>
    <th>Hospital/₁₀₀₀ₖ</th>
    <th>Positivity Rate (Inf./Tests)</th>
    <th>% Population ever infected</th>
    <th>Death Rate (of Infected)</th>
  </tr>
  </thead>
  <tbody id="casesProvinceTable">
  {% macro selectColour(data) %}{{ "green" if data < 10 else ("yellow" if data < 25 else ("orange" if data < 40 else ("red" if data < 100 else "black"))) }}{% endmacro %}
  {% macro selectBase(data) %}{{ 10 if data < 10 else (25 if data < 25 else (40 if data < 40 else (100 if data < 100 else 150))) }}{% endmacro %}

  {% macro infectionRow(data, type='province') %}
    <tr class="infection {{ type }} {{ data.code if data.code else data.province }}" title="Total: {{ data.total.total_cases | format }} ({{ data.total.date | readableDate }}: {{ data.total.change_cases | format }}, {{ data.yesterday.date | readableDate }}: {{ data.yesterday.change_cases | format }}) Population: {{ data.population | format }}">
      <th class="name">
        {% if type === 'province' %}
        <label for="toggle-infection-{{ data.code }}" class="label-toggle"></label>
        <span title="{{ data.data_status }} @ {{ data.updated_at }}">
          <span>{{ data.name.en or data.name }}</span>
{#          <span class='province-update-status status-{{ data.data_status | lower | replace(r/\s/gi, '-') }}' data-toggle='tooltiprow' data-placement='bottom' data-html='true' title='#}
{#          Status: <b>{{ data.data_status }}</b><br>#}
{#          Last updated: <b>${updatedAt}</b><br>#}
{#          Update expected by: <b>${expectedTime(data.code)}</b>'>#}
{#          </span>#}
          <span class='province-update-status status-{{ data.data_status | lower | replace(r/\s/gi, '-') }}'></span>
        </span>
        {% else %}
        <span>{{ data.name.en or data.name }}</span>
        {% endif %}
      </th>
      <td class="cases history">
        <div>
          <table class="charts-css column"><tbody>
            <tr>
              {%- for week in data.weekly | head(-8) | head(7) %}
                {% set height = (week.newCasesAvg / data.infection.maxChangeCases * 100) | round %}
                <td style="--size:calc({{ height if height > 0 else 3 }}/100);" ><span class="tooltip">Week of {{ week.start | readableDate }}: {{ week.newCasesAvg | formatNumber }}</span></td>
              {%- endfor %}
            </tr>
            <tr>
              {%- for day in data.lastWeek %}
                {% set height = (day.change_cases / data.infection.maxChangeCases * 100) | round %}
                <td style="--size:calc({{ height if height > 0 else 3}}/100);"><span class="tooltip">{{ day.date | readableDate }}: {{ day.change_cases | formatNumber }}</span></td>
              {%- endfor %}
              {% set height = (data.total.change_cases / data.infection.maxChangeCases * 100) | round %}
              <td style="--size:calc({{ height if height > 0 else 3 }}/100);"><span class="tooltip">{{ data.total.date | readableDate}}: {{ data.total.change_cases | formatNumber}}</span></td>
            </tr>
            </tbody></table>
        </div>
      </td>
      <td class="activecases today" data-rate="{{ data.infection.wowActiveCases }}">{{ data.total.change_cases | formatNumber }}</td>
      <td class="activecases history">
        <div>
          <table class="charts-css column"><tbody>
            <tr>
              {%- for week in data.weekly | head(-8) | head(7) %}
                {% set height = (week.activeAvg / data.infection.maxActiveCases * 100) | round %}
                <td style="--size:calc({{ height if height > 0 else 3 }}/100);" ><span class="tooltip">Week of {{ week.start | readableDate}}: {{ week.activeAvg | formatNumber }}</span></td>
              {%- endfor %}
            </tr>
            <tr>
              {%- for day in data.lastWeek %}
                {% set height = (day.active_cases / data.infection.maxActiveCases * 100) | round %}
                <td style="--size:calc({{ height if height > 0 else 3 }}/100);" ><span class="tooltip">{{ day.date | readableDate}}: {{ day.active_cases | formatNumber }}</span></td>
              {%- endfor %}
              {% set height = (data.infection.activeCases / data.infection.maxActiveCases * 100) | round %}
              <td style="--size:calc({{ height if height > 0 else 3 }}/100);"><span class="tooltip">{{ data.total.date | readableDate }}: {{ data.infection.activeCases | formatNumber}}</span></td>
            </tr>
            </tbody></table>
        </div>
      </td>
      <td class="activecases per100k">
        <div class="progressbar {{ selectColour(data.infection.activePer100k)  }}" aria-valuenow="{{ data.infection.activePer100k }}" data-value="{{ data.infection.activeCases | formatNumber }}" aria-labelledby="provinceID tableHeaderID"><span class="value" aria-hidden="true" style="width: {{ (data.infection.activePer100k/selectBase(data.infection.activePer100k)*100) | min(100) }}%"></span></div>
      </td>
      <td class="hospitalized per1000k"><div class="progressbar {{ selectColour(data.infection.hospitalizedPer1000k) }}" aria-valuenow="{{ data.infection.hospitalizedPer1000k or "N/A"}}" data-value="{{ data.total.total_hospitalizations | formatNumber }}" aria-labelledby="provinceID tableHeaderID"><span class="value" aria-hidden="true" style="width: {{ (data.infection.hospitalizedPer1000k/selectBase(data.infection.hospitalizedPer1000k)*100) | min(100) }}%"></span></div></td>
      <td class="positivity"><div class="progressbar" role="progressbar" aria-valuenow="{{ data.infection.weekPositiviityRate or "N/A"}}" data-value="{{ data.total.change_tests | formatNumber }}" aria-labelledby="provinceID tableHeaderID"><span class="value" aria-hidden="true" style="width: {{ ((data.infection.weekPositiviityRate or 0)/10*100) | min(100) }}%"></span></div></td>
      <td class="infection"><div class="progressbar infection" role="progressbar" aria-valuenow="{{ data.infection.casesPerCapita }}" data-value="{{ data.total.total_cases | formatNumber }}" aria-labelledby="provinceID tableHeaderID"><span class="value" aria-hidden="true" style="width: {{ (data.infection.casesPerCapita/10*100) | d(0) | min(100) }}%"></span></div></td>
      <td class="death"><div class="progressbar death" role="progressbar" aria-valuenow="{{ data.infection.deathsPerCase }}" data-value="{{ data.total.total_fatalities | formatNumber }}" aria-labelledby="provinceID tableHeaderID"><span class="value" aria-hidden="true" style="width: {{ (data.infection.deathsPerCase/4*100) | d(0) | min(100) }}%"></span></div></td>
    </tr>
  {%  endmacro %}

  {%- for province in canada | filterProp("name", "neq", "Canada") | sort(true, attr="population") %}
    {{ infectionRow(province) }}
    {%- for region in province.regions %}
      {{ infectionRow(region, "healthregion") }}
    {%- endfor %}
  {%- endfor %}
  </tbody>
  <tfoot id="casesProvinceTableFooter">
  {%- for province in canada | filterProp("name", "eq", "Canada")  %}
    {{ infectionRow(province, "country") }}
  {%- endfor %}
  </tfoot>
</table>
