<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
{#    <link rel="stylesheet" href="{{ 'css/default.css' | url }}">#}
{#    <link rel="stylesheet" href="{{ 'css/chartsCSS-0.9.0.css' | url }}" media="print" onload="this.media='all'">#}
    {% set css %}
      {% include "css/reset.css" %}
      {% include "css/chartsCSS-0.9.0.css" %}
      {% include "css/toggle.css" %}
      {% include "css/progressbar.css" %}
      {% include "css/default.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    <header>
      <h1 class="home">
        <a href="{{ '/' | url }}">{{ title or metadata.title }}</a>
      </h1>
      <span class="links">
      <a href="https://github.com/colinbendell/covid19.ca/" title="Github Source">
        <img src="img/github.svg" width="64" height="64" alt="">
      </a>
      <a href="/data.json" title="{raw} source data"><img src="img/analytics.svg" width="64" height="64" alt=""></a>
      </span>
    </header>
    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>
    <footer>
      <p class="fineprint">This is for informational purposes only. It relies on community efforts like <a href="https://covid19tracker.ca">covid19tracker.ca</a> to aggregate government data sources.</p>
      <div class="bling">
        <span>built by <a href="https://twitter.com/colinbendell">Colin</a></span>
        <span>Proudly &lt;noscript&gt;</span>
      </div>
    </footer>
    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
