<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ 'css/default.css' | url }}">
    <link rel="stylesheet" href="{{ 'css/chartsCSS-0.9.0.css' | url }}">
  </head>
  <body>
{#    <header>#}
{#      <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>#}

{#      #}{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
{#      <ul class="nav">#}
{#      {%- for entry in collections.all | eleventyNavigation %}#}
{#        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>#}
{#      {%- endfor %}#}
{#      </ul>#}
{#    </header>#}
    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer>

    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
