<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>{{ title or metadata.title }}</title>
  <meta name="description" content="{{ description or metadata.description }}">
  {#    <link rel="stylesheet" href="{{ 'css/default.css' | url }}">#}
  {#    <link rel="stylesheet" href="{{ 'css/chartsCSS-0.9.0.css' | url }}" media="print" onload="this.media='all'">#}
  {% set css %}
    {% include "css/reset.css" %}
    {% include "css/chartsCSS-0.9.0.css" %}
    {% include "css/toggle.css" %}
    {% include "css/progressbar.css" %}
    {% include "css/default.css" %}
    {% include "css/one-in-x.css" %}
  {% endset %}
  <style>
    {{ css | cssmin | safe }}
  </style>
</head>
<body>
  {{ content | safe }}
<!-- Current page: {{ page.url | url }} -->
</body>
</html>
