name: Synchronize data

on:
  deployment
#   workflow_dispatch:
#     branches:
#       - main
#   schedule:
#     - cron: "1 00-11 * * *"
#     - cron: "*/20 12-23 * * *"

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.PAT }}
      # Setup node
      - uses: actions/setup-node@v1
        with:
          node-version: '15'
      - run: npm ci

      - name: Get data
        run: node .github/workflows/index.js

        # Assume we want to merge into same branch
      - name: Commit to branch
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Sync Data"
